[2015-03-10 19:28] pkadetiloye opened #1 "Vertx 3 IsCluster property missing"
I can enable clustering and ha at the command line, e.g.
Cluster mode.
java -jar target/maven-verticle-3.0.0-SNAPSHOT-fat.jar -cluster

Non-cluster mode
java -jar target/maven-verticle-3.0.0-SNAPSHOT-fat.jar

My question is how do I get to know if the user is running in cluster mode or not?
If clustered, I need to use the sharedData.getClusterWideMap other wise getLocalMap.

Any attempt to call sh

[2015-03-23 14:48] purplefox commented on #1
Done

[2015-03-23 14:48] #1 closed

[2015-03-31 20:35] purplefox opened #4 "Port Vert.x 2 webapp examples to Apex"
Both angular and ember examples:

https://github.com/vert-x/vertx-examples/tree/master/src/modules/javascript

[2015-05-08 05:13] p-baleine opened #10 "Deployment failed on synchronous deployment example of ruby."
I tried to run `vertx-examples/core-examples/src/main/rb/io/vertx/example/core/verticle/asyncstart/deployexample.rb` but the deployment of `deployexample.rb` failed with the following output:

[code]

I think, from the following code, that the order of parameters of block is `res_err, res`:

https://github.com/vert-x3/vertx-lang-ruby/blob/master/src/main/resources/vertx/vertx.rb#L277

[2015-05-26 05:39] Huntter opened #13 "Could not find artifacts"
I tried to build the whole vertx-examples project via maven `mvn clean install` command, but all the vertx related artifacts are cannot find.

[2015-05-26 07:49] Huntter commented on #13
use https://oss.sonatype.org/content/repositories/snapshots/  the sonatype snapshot repo

[2015-05-26 07:49] #13 closed

[2015-06-03 21:32] sfitts opened #18 "Web example instructions slightly off regarding use of Auth"
In the instructions for the Vertx web examples it states:

[code]

However, currently that dependency is to a pure POM which does not actually provide the needed JARs (at least it doesn't for Gradle and I presume for Maven as well).  The dependency that you actually need is `vertx-auth-common` plus whichever auth implementation you want to use.

IME `vertx-auth-common` is required whether or not y

[2015-06-04 07:08] #18 closed

[2015-06-09 16:28] purplefox opened #44 "Some examples should be self contained"
Some examples such as maven-simplest, maven-verticle should be self contained - i.e. they should not have a parent pom, so users can easily copy and paste them into their own projects.

However I can't figure out how to do this, as it seems I can only specify relativePath if there is a parent, but in this case there is no parent.

We should also consider making ALL examples independent with their

[2015-06-09 17:25] cescoffier commented on #44
;-)

Will do it tomorrow morning.

[2015-06-10 12:15] cescoffier commented on #44
Fixed.

[2015-06-10 12:15] #44 closed

[2015-06-10 12:49] #4 closed

[2015-06-15 06:53] purplefox opened #52 "Resolve npm modules using npm executable"
When deploying an npm module from Vert.x, if the module is not installed already and the user has the npm executable installed we could call that to resolve the modules and dependencies from the remote npm repo before deploying it.

[2015-06-15 09:44] cescoffier opened #53 "Move spring related examples to their own directory"

[2015-06-15 12:50] #53 closed

[2015-06-19 09:47] purplefox commented on #10
How did you run it?

[2015-06-20 08:33] purplefox opened #54 "Project fails to build in IntelliJ IDEA because cannot load OSGI plugin"
Project... rebuild all gives:

Error:osgi: [osgi-examples] Failed to load plugin org.apache.felix.ipojo.bnd.PojoizationPlugin;, error: org.apache.felix.ipojo.bnd.PojoizationPlugin not found, parent:  java.net.URLClassLoader@45ee12a7 urls:[] exception:java.lang.ClassNotFoundException: org.apache.felix.ipojo.bnd.PojoizationPlugin

This means I can't run the examples in the IDE

[2015-06-20 09:18] cescoffier commented on #54
How do you import the project in your IDE ?

If I import it as a Maven projet I don't have any issue.

[2015-06-20 10:05] purplefox commented on #54
Yes, I originally imported as a Maven project.

If I try again from scratch as a new user would after cloning the project, I get a further issue:

Error:(26, 16) java: cannot find symbol
  symbol:   class ProcessorServiceVertxEBProxy
  location: interface io.vertx.examples.service.ProcessorService

This I guess is because the service proxy classes need generating.

This is going to confuse users.

[2015-06-20 10:35] cescoffier commented on #54
So, this issue is 'expected', we discussed it with @vietj.
We can replace the call by using the _helper_ and mention it in the documentation. What do you think ?

[2015-06-20 10:41] purplefox commented on #54
As long as the user can get an example working like the following, I don't mind:

1. git clone https://github.com/vert-x3/vertx-examples.git
2. IntelliJ: import maven project
3. Right click main class of example... run

There should be no other steps imho. If a user gets stuck with a cryptic error trying to run the simplest helloworld example they may just walk away from Vert.x and never come back

[2015-06-20 14:27] cescoffier commented on #54
I've changed the service proxy example in f41e5e6eebce98661e9f995a610b0efd170c2ed5.

I've tried the process you mention and it works for me.

[2015-06-21 08:16] fhornain opened #55 "web-examples auth java example error"
I tried the following example https://github.com/vert-x3/vertx-examples/blob/master/web-examples/src/main/java/io/vertx/example/web/auth/Server.java

and I have the following error.

Using session cookies without https could make you susceptible to session hijacking: http://0.0.0.0:8080/login
Using session cookies without https could make you susceptible to session

hijacking: http://0.0.0.0:8080/

[2015-06-21 08:32] purplefox commented on #54
If I git clone, import, and rebuild project I still get: can't find ProcessorServiceVertxEBProxy

[2015-06-21 08:37] purplefox commented on #55
What do you expect to happen if the user goes directly to the login page?

[2015-06-21 08:43] cescoffier commented on #54
Oupsy, forgot this reference.
Should be better in 4f8cd9536500ee916fdc804946f980203a2b0414

[2015-06-21 08:45] purplefox commented on #54
Thanks, that solves the issue of the build failing for the service proxy example, but now I see the original issue again:

Error:osgi: [osgi-examples] Failed to load plugin org.apache.felix.ipojo.bnd.PojoizationPlugin;, error: org.apache.felix.ipojo.bnd.PojoizationPlugin not found, parent: java.net.URLClassLoader@45ee12a urls:[] exception:java.lang.ClassNotFoundException: org.apache.felix.ipojo.bn

[2015-06-21 08:47] cescoffier commented on #54
I'm going to install a new instance of intellij as I cannot reproduce that one.

[2015-06-21 08:48] cescoffier commented on #10
The issue has been fixed by:
https://github.com/vert-x3/vertx-codetrans/commit/ed099f1867bfcf8b239a9792a19bfb1700ff7750

[2015-06-21 08:48] purplefox commented on #54
I am using 14.0.3 btw

[2015-06-21 08:51] purplefox commented on #54
Just a guess - maybe you have manually installed some kind of OSGI plugin in your IDE, that I don't have, and is required for this example?

[2015-06-21 08:54] cescoffier commented on #54
No, I'm a purist ;-)

OSGi does not require any IDE plugin. However, Intellij enables one by default that generally messes up things...

I'm downloading community and ultimate. It needs to work out of the box on both.

[2015-06-21 08:57] purplefox commented on #54
Clement - I have license keys for ultimate that you're entitled too, just sent you a private email.

[2015-06-21 09:39] cescoffier commented on #54
Ok, I've reproduced the issue, it's the intellij OSGi support (osmorc) that is unable to load BND plugins. I'm looking into it.

[2015-06-21 11:16] fhornain commented on #55
To be able to login and be redirected to http://127.0.0.1:8080/private/private_page.html private page.
The problem is when I do that, I have the "Internal Server Error" error message.

[2015-06-21 11:25] purplefox commented on #55
How is the form login handler going to know where to redirect you to, if you went directly to the login page?

The best we can do here is put up a default direct login page, e.g. "You are now logged in".

[2015-06-21 11:29] fhornain commented on #55
Ok, I think I got it.
Thanks.
/f

[2015-06-21 13:25] purplefox commented on #55
https://github.com/vert-x3/vertx-web/pull/138

[2015-06-21 18:10] #55 closed

[2015-06-21 19:08] cescoffier commented on #54
I've moved the osgi-examples to their own profile (not enabled by default). This fixed the Intellij issue.
(879bf7246792b21904eb875993c935f0991c7cc0)

So, the issue is in Osmorc the OSGi plugin of intellij unable to read the configuration (as it is intended to do). The main issue is that it does not support the plugin's dependencies and fails to create the right classloader to execute BND. So the

[2015-06-21 20:43] vietj commented on #10
yes it was fixed, due to bug in the codetranslator

[2015-06-21 20:43] #10 closed

[2015-06-22 07:45] purplefox commented on #54
Ok, I guess this should just be closed then.

[2015-06-22 07:45] #54 closed

[2015-06-22 07:46] cescoffier commented on #54
Ok :-) Wanted to add the link to the osmorc bug once opened.

[2015-06-22 07:54] cescoffier commented on #54
Here is the Osmorc bug ticket:
https://youtrack.jetbrains.com/issue/IDEA-141732

[2015-06-23 12:35] cescoffier opened #57 "mysql / postgres client need to be explicitly copied"

[2015-06-23 13:19] purplefox opened #58 "The mail examples don't have main methods"
... for running in the IDE

[2015-06-23 13:22] purplefox opened #59 "Metrics examples don't have a README"

[2015-06-23 13:46] purplefox opened #60 "Angular REST example doesn't say username and password"
in the README so user cannot login

[2015-06-23 13:53] purplefox opened #61 "custom authorisation example has no static files"
This example appears to want to serve some static files but does not contain any.

[2015-06-23 14:01] purplefox opened #62 "Web upload example fails"
when run in IDE:

io.vertx.core.file.FileSystemException: java.nio.file.NoSuchFileException: /home/tim/projects/vert-x3/vertx-examples/web-examples/src/main/java/io/vertx/example/web/upload/file-uploads/686a502b-988a-4263-bb57-b66d2f25ed40
	at io.vertx.core.file.impl.AsyncFileImpl.<init>(AsyncFileImpl.java:104)
	at io.vertx.core.file.impl.FileSystemImpl.doOpen(FileSystemImpl.java:744)
	at io.vertx

[2015-06-23 14:05] #60 closed

[2015-06-23 14:08] #61 closed

[2015-06-23 14:21] #62 closed

[2015-06-23 14:53] #57 closed

[2015-06-24 17:53] #58 closed

[2015-07-08 08:10] cescoffier opened #71 "Add maven and gradle examples for non java project"
We don't have examples illustrating how to package a verticle as a fat jar when the verticle is in Groovy, JavaScript or Ruby.

For Groovy, we should provide a non-compiled and compiled version.

[2015-07-08 08:10] cescoffier commented on #71
Related to https://github.com/vert-x3/issues/issues/14

[2015-07-12 10:57] Ive4 opened #73 "How can i reload in IDEA?"
I used IDEA write vert.x program but when i change the code i have to manually redeploy program.
how can i reload in IDEA , or another way?

[2015-07-12 11:29] cescoffier commented on #73
The 'redeploy' feature has been dropped from the 3.0 release (because it was introducing leaks and lots of complexity). It's on the 3.1 roadmap.

So, unfortunately, you have restart your program.

If you are on a linux or mac os x you can use [entr](http://entrproject.org/):

1. Create a build and run scripts such as:
[code]
2. Give the execution permission to the script:
[code]
3. Launch _entr_:

[2015-07-13 12:50] pmlopes commented on #73
I can confirm that using entr works fine on linux

[2015-07-14 12:44] purplefox opened #74 "Remove HelloConfigurableVerticle from Maven verticle"
I think it's important that the example is simple and just contains a single verticle.

If we want to demonstrate config being passed I think we can just edit HelloWorldVerticle to display it.

Also I don't really understand why the docs for the example use vertx run not java -jar like the other examples.

[2015-07-14 13:02] cescoffier commented on #74
What about moving the example to core-examples ?

[2015-07-14 13:28] purplefox commented on #74
I think the example is good here - the idea is it's just a really simple example they can copy and paste to get started.

[2015-07-14 15:15] #73 closed

[2015-07-15 10:20] #74 closed

[2015-07-15 16:47] cescoffier opened #75 "Add example using the thymeleaf template engine"
Would also be nice to demonstrate the other engines.

[2015-07-16 01:19] EldritchInteractive opened #76 "Broken links in rich text summary of JDBC examples."
https://github.com/vert-x3/vertx-examples/blob/master/jdbc-examples/README.adoc

All the linked JDBC examples lead to 404 pages.  The supplied links are simply pointing to the wrong url.  The example sources are available and navigable through the directory structure.

[2015-07-16 07:36] NitishDeshpande opened #77 "Not able to run the angular app from Eclipse IDE."
I am running the io/vertx/example/web/angularjs/Server.java. The server starts to listen on 8080. I go to the browser and type url http://localhost:8080 and i get the response as 'Not Found'. I check the console in Eclipse it shows something like this,

Route matches: Route[ path:null pattern:null handler:io.vertx.ext.web.handler.impl.StaticHandlerImpl@99ce62c failureHandler:null order:7 methods:[

[2015-07-16 08:05] cescoffier commented on #77
Try to set the 'working' directory to `src/main/java/io/vertx/example/web/angularjs`

[2015-07-16 09:14] NitishDeshpande commented on #77
Changed the working directory as mentioned. Nothing changed :(

[2015-07-16 10:08] cescoffier commented on #77
BTW, the example requires a running Mongo server (on `localhost` and using the default port). Did you launch it ?

[2015-07-16 10:14] cescoffier commented on #77
If you have a vertx stack installed here is how you can launch it using the `vertx` command

[code]

Let me know if this works. That would mean that the issue is an IDE configuration issue.

[2015-07-16 10:17] #76 closed

[2015-07-16 10:39] NitishDeshpande commented on #77
I got it working but i don't think this is the right way. This is what i did,
To get the webroot/index.html on the classpath i have created a folder by name webroot inside src/main/resources and copied the index.html page in the folder. Similarly i have moved webroot/js and webroot/tpl folders to src/main/resources.

[2015-07-16 10:53] purplefox commented on #77
It works fine for me here.

Precisely, how did you open the project in your IDE and attempt to run
it? (Please don't omit any steps even if you consider them irrelevant)

On 16/07/15 08:36, NitishDeshpande wrote:

[2015-07-16 12:42] NitishDeshpande commented on #77
1> Pulled the code (all projects under vertx-examples) from git repo using the git bash client for windows.
2> Built the code from the parent directory using command mvn clean install.
3> Eclipsified the project using command mvn eclipse:eclipse
4> Imported the code in Eclipse. (Import existing maven projects)
5> Run the file io/vertx/example/web/angularjs/Server.java in the web-examples project.

[2015-07-16 13:42] cescoffier commented on #77
I've tried your process and it works:

I've downloaded a fresh Eclipse Mars (Java developer), imported the examples as existing maven project. I've load them (I also have to reboot eclipse because of some updates....).

Once it has finishing building the workspace, I've open the `Server` class of the angularjs example, and just did 'right-clic on the main method -> Run as -> Java application'.

Ho

[2015-07-17 03:54] NitishDeshpande commented on #77
Yes @cescoffier  i have a mongo instance running in background. Not sure why i am getting the problem. You can close the issue. I will come back if i am able to solve this thing. Thanks for quick response.

[2015-07-17 08:34] cescoffier commented on #71
@vietj - please review

[2015-07-21 07:11] #71 closed

[2015-07-23 16:18] cescoffier commented on #77
Close as requested.

[2015-07-23 16:18] #77 closed

[2015-07-28 08:41] #59 closed

[2015-07-29 13:47] cescoffier commented on #75
I would like to automate its execution (I reopen it and assigned to me).

[2015-07-31 15:29] pmlopes commented on #75
I've moved all template examples under a single package.

[2015-08-01 08:10] cescoffier commented on #75
I've updated the automation. So I'm closing the issue.

[2015-08-01 08:10] #75 closed

[2015-08-02 01:50] BrettGavin889 commented on #77
@NitishDeshpande did you ever fix this problem? I seem to be having the same problem you are. Your work around also works for me, but like you said that doesn't seem to be the correct way to fix the problem.

[2015-08-04 03:59] mohitbaskota opened #79 "Mail-service not woking"
Hello

I am trying to run the vertx mail-service examples. The verticle gets started but the mail is not being sent.

Following is what i am doing in a start method of a verticle

  MailConfig mailConfig = new MailConfig()
                .setHostname("smtp.gmail.com")
                .setPort(465)
                .setStarttls(StartTLSOptions.REQUIRED)
                .setLogin(LoginOption.REQUIRE

[2015-08-05 10:04] NitishDeshpande commented on #77
@BrettGavin889  Unfortunately i was not able to fix it. I am copying the files to src/main/resources folder to get them on classpath.

[2015-08-05 10:08] cescoffier commented on #77
The `webroot` directory need to be directly under the current working directory.

Copying the resources also works as it loads them from the classloader (and not from the files as intended).

For information, here is how we launch the example in the automation framework: https://vertx.ci.cloudbees.com/view/vert.x-3/job/vertx3-examples-it/Web_Examples_Report/web-angularjs_java.html

[2015-08-19 13:03] cescoffier commented on #79
your configuration is wrong. To send a mail from Gmail, use:

[code]

[2015-08-19 13:03] #79 closed

[2015-09-26 12:40] ragulan77 opened #87 "keystore and static ressources not found"
Hi,

I am trying to launch the custom_authorisation example in vertx web exemple. I have the following error:

java.io.FileNotFoundException: /home/ragulan/NetBeansProjects/vertx-examples/web-examples/web-examples/src/main/java/io/vertx/example/web/custom_authorisation/keystore.jceks (No such file or directory)
java.lang.RuntimeException: java.io.FileNotFoundException: /home/ragulan/NetBeansProjec

[2015-09-27 13:23] pmlopes commented on #87
Can you describe how you're trying to run? command line, ide? also what is your cwd path when you run, so we can try to reproduce the issue.

[2015-09-28 06:51] cescoffier commented on #87
It's probably a "current working directory" issue.

[2015-09-28 18:47] ragulan77 commented on #87
I am runing with almost the last version of Netbeans. I switch on the tag 3.0.0 with git, click "run" on Netbeans and select the concerning class. I don't know what to say about the cwd path, actually my netbeans is on my desktop.

[2015-09-28 18:54] purplefox commented on #87
Yes, I believe there is at least one other issue like this. The solution is to set up the IDE to the correct working dir.

[2015-09-28 19:00] purplefox commented on #87
Just a thought. I think we can fix it so the examples run on every IDE out of the box even if the IDEs have different cwd configured.

All we need to do is to evaluate new File(".").getAbsolutePath() to find out what the actual cwd is set to. Then we compare that to the examples directory that the test wants. There will be some overlap in the paths. From that we can compute what to set System.setP

[2015-09-29 08:22] purplefox opened #88 "Intelligent current working directory resolution"
The current examples, when running in the IDE using ExampleRunner assume that the IDE working directory is set up to be the root directory of the vertx-examples project.

This is the case when running in IntelliJ but behaviour can vary in other IDEs, e.g. in Eclipse and NetBeans which set the cwd to be the directory of the Maven sub-module (e.g. the core-examples directory). This can result in exa

[2015-09-30 07:58] purplefox opened #89 "core HA example doesn't run on command line"
If you follow the instructions to run it as described in the README it fails when starting the first Server:

/home/tim/projects/vert-x3/vertx-examples/core-examples/src/main/java/io/vertx/example/util/Runner.java:15: error: cannot find symbol
    ExampleRunner.runJavaExample(CORE_EXAMPLES_JAVA_DIR, clazz, true);
    ^
  symbol:   variable ExampleRunner
  location: class io.vertx.example.util.Runn

[2015-09-30 12:43] cescoffier commented on #89
Yes, here are the right command line:

[code]

and

[code]

not really convenient, will find a different way.

[2015-09-30 12:43] cescoffier commented on #89
(cluster-host is required on my computer because of my fancy network configuration)

[2015-09-30 12:47] purplefox commented on #89
I think for Java examples like this it doesn't really make sense to run them on the command line.

Running in the IDE would be much simpler, so probably just easier to update the README so it talks about running in the IDE only.

[2015-09-30 12:49] cescoffier commented on #89
Ok, but I need to start a bare instance from the IDE, and then kill a processus started by the IDE.

[2015-09-30 12:51] purplefox commented on #89
Just a thought. The main issue in running the Java examples from the command line is that they reference the ExampleRunner class...

Maybe instead of using that class we can use Launcher directly and change Launcher so it looks at vertx.cwd? Then we wouldn't have deps on other classes.

[2015-09-30 12:52] purplefox commented on #89
We could also put the logic for cwd that resolves the cwd as I mentioned in another issue so this works seamlessly on Eclipse, NetBeans and IntelliJ?

[2015-09-30 13:52] cescoffier commented on #88
I've made an initial implementation. Quite simple:

[code]

I need to test it on windows, and in various IDEs

[2015-09-30 14:01] cescoffier commented on #89
It would give something like:

[code]

WDYT ?

[2015-09-30 14:23] purplefox commented on #89
Yes, like that, but I was thinking we should put the adjustment (i.e. the code inside the try..catch block) inside Launcher. Also you wouldn't need the "web-examples/src/main/java" part.

[2015-09-30 14:31] cescoffier commented on #89
We can do it in Launcher or in a "run-example" command. It would give something like:

[code]

It can traverse the file system to find the associated Server.java file and set the `vertx.cwd` system property.

[2015-09-30 14:51] cescoffier commented on #89
I've fixed the HA example, using the Launcher. I've provided the instruction for the IDE and command line.

[2015-09-30 14:51] cescoffier commented on #88
We start discussing it on https://github.com/vert-x3/vertx-examples/issues/89

[2015-09-30 14:53] purplefox commented on #89
Perfect

[2015-10-01 15:57] #88 closed

[2015-10-02 06:00] purplefox commented on #87
Should be fixed with https://github.com/vert-x3/vertx-examples/issues/89

[2015-10-02 06:00] #87 closed

[2015-10-03 10:10] michel-kraemer opened #90 "vertx-web templating example doesn't work with 3.1-SNAPSHOT"
The file `vertx-examples/web-examples/src/main/js/io/vertx/example/web/templating/mvel/server.js` doesn't run anymore with the latest snapshot because `vertx-web-js/mvel_template_engine.js` does not exist anymore.

Does the example need to be fixed or am I doing something wrong?

Cheers,
Michel

[2015-10-03 11:18] cescoffier commented on #90
Are you using the 3.1.0-SNAPSHOT branch ?

The template engine have been externalized from vertx-web, so new artifacts are required. See https://github.com/vert-x3/vertx-examples/blob/3.1.0-SNAPSHOT/web-examples/pom.xml#L104

[2015-10-03 15:05] michel-kraemer commented on #90
Thanks, @cescoffier! I added the new artifacts and the file could be found again.

[2015-10-03 15:05] #90 closed

[2015-10-07 18:00] dlaberge opened #94 "using AMD in verticle on the server."
Could javascript verticle have support for AMD. That would allow to use requirejs in verticle. Hence allow parts of the controller from the client side to be used in the verticle.

[2015-10-08 06:39] cescoffier commented on #94
AMD is only supported on the client (using the vertx-eventbus.js). On server only commonJS is supported.

[2015-10-08 06:39] #94 closed

[2015-10-08 06:51] purplefox commented on #94
Although - it might not be too tricky to implement this.

There's a requireJS implementation for Node.js, which I believe is written in JavaScript.

So, I'm guessing that could be ported to Vert.x - i.e. remove the Node.js specific parts and replace with Vert.x

I'm not sure how feasible this is, but maybe something to look at. But in any case this issue is posted on the wrong project. It should b

[2015-10-08 07:59] cescoffier opened #95 "AMD example is not working"
The AMD example (web) using bower does not work. The eventbus object cannot be instantiated as the `EventBus` variable is '3' (which is obviously not a function)

[2015-10-08 08:24] pmlopes commented on #95
fixed on commit https://github.com/vert-x3/vertx-examples/commit/6f618f8e583c78577f60fe6dd59a8c095365a5b3

[2015-10-08 08:24] #95 closed

[2015-10-13 01:13] mozinrat opened #96 "Vertx getting start"
The examples are great but what I can't figure out how to start. There were different folder structure followed and most of it doesn't gave the idea of abstractions one should big in a big microservice architecture. Some of the example files contains too much code which is generally broken into multiple class files. They are absolutely fine with respect to examples but don't give an idea how to bu

[2015-10-14 07:50] purplefox commented on #89
I notice the other examples are still using the ExampleRunner (as reported on a user report in the google group today)

[2015-10-14 07:55] cescoffier commented on #89
Yes, the ExampleRunner is still used. The "intelligent cwd detection" has been implemented here.

[2015-10-14 08:10] purplefox commented on #89
Ah ok. I thought we were going to implement in Launcher (as mentioned in your example above)?

Then the example only has dependencies on core code and is much easier to run without having to depend on ExampleRunner....

[2015-10-14 08:11] cescoffier commented on #89
Yes, but it was too close to the 3.1 deadline to implement this in the launcher. It will be in 3.2 (it's on my todo list).

[2015-10-14 08:13] cescoffier commented on #89
It's not the same issue. This one was about running HA which has been fixed. Replacing the ExampleRunner should be another issue (I'm going to create one for this)

[2015-10-14 08:21] purplefox commented on #96
Hi @mozinrat - could you give a concrete example where you think the examples are inconsistent? As I'm not sure I am following you here.

Did you take a look at the maven-simplest example? That shows you how to set up a basic Maven project. Vert.x doesn't mandate and special directories - it's just a completely standard Maven setup, maybe that's where you're getting confused.

[2015-10-14 08:27] cescoffier opened #97 "Replace ExampleRunner by the Launcher"

[2015-10-14 08:28] cescoffier commented on #89
Closing this one as the replacement of the ExampleRunner is covered by #97

[2015-10-14 08:28] #89 closed

[2015-10-14 08:29] cescoffier commented on #97
These is another issue to tackle here:

On Eclipse or STS, we cannot really use mvn dependency:copy because of https://issues.apache.org/jira/browse/MDEP-187

[2015-10-28 15:56] qerub opened #99 "Improve error handling in JDBC examples"
The examples in https://github.com/vert-x3/vertx-examples/tree/master/jdbc-examples/src/main/java/io/vertx/example/jdbc have inadequate error handling. One could argue that the error handling doesn't have be perfect in examples, but given that this kind of error handling is tricky I think it would serve really well with some good examples on how to do it properly.

To be more concrete, here are so

[2015-11-03 04:13] shenroong opened #100 "redisexample: cannot find symbol"
I was trying to use java example for redisexample. I use Maven to manage dependency.  I have vertx-redis-client in my pom.xml file.
However, when I run mvn clean compile. it shows cannot find symbol [ERROR] symbol:   class RedisOptions.

It does not have any problem with import io.vertx.redis.RedisClient;

[2015-11-03 06:43] cescoffier commented on #100
Can you try with the version 3.1.0 of the redis client. The RedisOptions class has been added in the 3.1.0.

[2015-11-03 07:40] #99 closed

[2015-11-04 08:00] #100 closed

[2015-11-10 04:29] shenroong opened #102 "nullpointer exception"
I used the exactly same example code from java redis example. I use maven to compile and package.

    	final RedisClient client = RedisClient.create(vertx,
	        new RedisOptions().setHost("127.0.0.1"));
	java.lang.NullPointerException
	at io.vertx.redis.impl.AbstractRedisClient.<init>(AbstractRedisClient.java:44)
	at io.vertx.redis.impl.RedisClientImpl.<init>(RedisClientImpl.java:39)
	at io.v

[2015-11-10 04:35] #102 closed

[2015-11-25 14:45] cescoffier commented on #97
Not required anymore.
Each project can be launched separately.

[2015-11-25 14:47] #97 closed

[2015-11-26 14:30] mohamnag opened #108 "Class path troubles"
I'm not sure if the problem is the start script in examples or is it in general how Vertx works, therefore I will report/ask it here and if necessary I will move this to another place.

So in some of the examples I saw that there is a run command like this used:
[code]

I tried to leverage this to include module dependencies as separate JARs beside the verticle JAR, so I put all the dependencies i

[2015-11-26 14:35] cescoffier commented on #108
The `*` is expanded by your shell, not by vert.x. I suspect you have only one file in 'build/libs', or it takes the first one.

If you more than one dependencies, you need to list them one by one. This is the same rules as the Java classpath.

[2015-11-26 14:39] mohamnag commented on #108
I have one file in `buid/libs` and multiple files in `build/libs/dependencies/`. According to [this](https://docs.oracle.com/javase/8/docs/technotes/tools/windows/classpath.html#JSWOR586) using wild card `*` is same as including all `.jar` and `.JAR` files. or do I get it wrong?

[2015-11-26 14:43] cescoffier commented on #108
it depends on you shell expansion policy. In bash it probably take the first file only.

[2015-11-26 14:47] mohamnag commented on #108
So I will depend on CLASS_PATH variable.

[2015-11-26 14:47] #108 closed

[2015-11-29 00:59] piton182 opened #109 "eventbus/pointtopoint doesn't work on different nodes"
I run Receiver as Java app on node A and Sender as Java app on node B. I don't use Multicast, I use tcp-ip. They can join in cluster.

Then Receiver says:
[code]

And no messages from Sender to Receiver...

After 30 sec Sender starts saying:
[code]

What could be wrong?

====

Interesting that when I run both verticles like this:
$ vertx run Receiver.java -cluster
$ vertx run Sender.java -cluster

[2015-11-29 19:24] cescoffier commented on #109
Can you try by appending another parameter:

[code]

[2015-11-29 20:57] piton182 commented on #109
Same result. Receiver from IDE on node A, Sender as vertx with both -cluster and -cluster-host on node B. No messages. Nodes could from a cluster (they could even without -cluster-host though).

And you mean -cluster-host parameter when running as vertx?

What I am after is ...

Isn't it supposed to work out of the box? I mean git clone -> mvn -> run Receiver (from IDE) on node A; git clone -> mvn

[2015-11-30 07:31] cescoffier commented on #109
It works this way if your network supports multicast, has no firewall... If your environment is different, you need to tune it.

[2015-11-30 07:52] piton182 commented on #109
For me it doesn't work either way.

Thank you anyway!

[2015-11-30 08:00] cescoffier commented on #109
Can you tell me more about your setup ?
For which reason did you switch to unicast ?

[2015-11-30 08:45] piton182 commented on #109
Well, first of all because MULTICAST doesn't work for me.

[2015-11-30 08:48] cescoffier commented on #109
You can have a look to: http://vertx.io/docs/vertx-hazelcast/#_trouble_shooting_clustering

Hazelcast and vert.x are picking a network interface. Sometimes you need to tell them which one they should use (for instance on my mac it takes an interface created by docker that does not support multicast).

[2015-11-30 13:39] piton182 commented on #109
Have played around that as well. No success.

And if that were to be the problem, they couldn't find each other and form a cluster, right? But in my case they can find each other and from a cluster.

It all must have something to do with running vertx embedded. Because vertx run to vertx run does work just lovely (regardless what it is: multicast or tcp-ip).

But when I run Receiver as embedded ve

[2015-12-01 21:45] piton182 commented on #109
Allright! Looked at http://vertx.io/docs/vertx-hazelcast/#_trouble_shooting_clustering again.

"Using a VPN" was my case!

So I configured both HazelcastClusterManager with the right interface and vertx's setClusterHost() with the same IP.

Now it works just lovely!

Thank you @cescoffier for you help!

[2015-12-01 21:45] #109 closed

[2015-12-16 14:08] tgkprog opened #111 "vert.x gateway with spring security ?"
Is vert.x a good candidate to expose to the www as a gateway webapp? Meaning an app that makes use of a service broker, discovers other micro services, sends POST & GET (as needed) requests to them, aggregates responses
Can we apply spring security on a vert.x application? If so do you know of a sample ? Want to benefit from spring's security features and vert.x non blocking advantages.

So as tec

[2015-12-16 14:13] pmlopes commented on #111
@tgkprog this is not a issue with the code, if you're looking for support you should consider posting on the user group: https://groups.google.com/forum/#!forum/vertx

Doing so increases the chances someone in the community experience the same problem and has some tips for you.

[2015-12-16 14:13] #111 closed

[2015-12-21 13:32] gagansuri opened #112 "cannot find examples-utils"
I am not able to find
<dependency>
<groupId>io.vertx</groupId>
      <artifactId>examples-utils</artifactId>
      <version>${project.version}</version>
      <optional>true</optional>
    </dependency>

for version 3.2.0
Am I missing something?

[2015-12-21 13:40] cescoffier commented on #112
It needs to be built from the "examples-utils" project.

[2015-12-22 08:15] cescoffier commented on #112
Sorry, it's example-utils. I've updated the README file.

[2015-12-22 08:15] #112 closed

[2016-01-07 18:44] mhstnsc opened #114 "sync example failing when running quasar with verify-instrumentation"
I am running on a windows box

Steps:
1. add the java agent as jvm arguments
2. add  -Dco.paralleluniverse.fibers.verifyInstrumentation=true
3. Run io.vertx.example.sync.fiberhandler.Server

It seems to work but its actually not correct.

Stack trace here
http://pastebin.com/Wk6qvTXH

WARNING: Uninstrumented methods (marked '*_') or call-sites (marked '!!') detected on the call stack:
at io.vertx.

[2016-01-07 19:01] mstanescu commented on #114
it is also not running correctly:

Adding a print at the beginning of fiberHandler will give this output:

Got http request:
Waiting
Got http request:
Got reply: wibble

[2016-01-07 19:41] mstanescu commented on #114
I think the javaagent was not correctly specified by me

[2016-01-08 16:21] juanavelez opened #115 "Unnecessary factory.afterPropertiesSet() call in spring-examples/spring-example/src/main/java/io/vertx/examples/spring/context/ExampleSpringConfiguration"
There is no need to call the factory(LocalContainerEntityManagerFactoryBean)'s afterPropertiesSet() method as this is called anyway by the Spring itself when post processing the bean. Doing this, triggers a warning message from Hibernate indicating that there is already a default persitsence unit registered

[2016-01-09 08:33] #115 closed

[2016-01-27 07:37] Aguinore opened #117 "Vert.x 3.2.0 doesn't run ceylon examples"
Hi all!
Although I can run examples via ceylon:
`$ ceylon compile examples.web.helloworld`
`Note: Created module examples.web.helloworld/1.0.0`
`$ ceylon run examples.web.helloworld`
`Deployed examples.web.helloworld example`

I can't do the same via vertx, even if I use simple helloworld example from readme.adoc:
`$vertx run ceylon:source/examples/web/helloworld`
This might be a type checker bug,

[2016-01-28 17:10] vietj commented on #117
hi, actually there is one step not explaiend in the doc when using "vertx run" is that the module "examples.utils/1.0.0" should be deployed in the module repository. can you try ?

[2016-01-29 11:57] Aguinore commented on #117
I've found root of problem. For some reason, vert.x can't resolve dependencies from Ceylon Herd. Maybe, it's because I have proxy. I've manually downloaded all modules to local ceylon cache and it works. Thanks for your help.

[2016-01-29 12:02] vietj commented on #117
do you have a specific Ceylon repo config ?

[2016-01-29 12:13] Aguinore commented on #117
This one? http://ceylon-lang.org/documentation/1.2/reference/tool/config/ No.

[2016-01-29 12:22] vietj commented on #117
yes, the integration is affected by this.

[2016-01-29 12:44] Aguinore commented on #117
But ceylon can compile and run this example without this config. Anyway, adding it gives me no benefits.

[2016-02-04 08:45] aygalinc opened #118 "Duplicated Service Registration in OSGi-example"
In VertxActivator, method start :

 public void start(BundleContext context) throws Exception {
    LOGGER.info("Creating Vert.x instance");
    Vertx vertx = Vertx.vertx();
    vertxRegistration = context.registerService(Vertx.class, vertx, null);
    LOGGER.info("Vert.x service registered");
    vertxRegistration = context.registerService(Vertx.class, vertx, null);  //Duplicated Registration

[2016-02-05 15:26] #118 closed

[2016-03-10 07:32] kpnarayanan opened #121 "Example of inter verticle communication"
Hello all,

I have the following scenario: there are two simple services written using Spring boot and deployed as two verticles in vert.x

I want the two services to communicate (publish and subscribe events) using the event bus provided by vert.x. I followed the examples in GitHub with respect to publish / subscribe and point to point eventing mechanisms.

I started the services using java -jar

[2016-03-10 07:49] pmlopes commented on #121
This is not an issue with the code on this reppo, you should ask for support on the google forum:

https://groups.google.com/forum/#!forum/vertx

From your description i think you did not enable the cluster support e.g.:

[code]

Also be sure to include a cluster manager implementation in your pom (hazelcast for example):

[code]

[2016-03-10 07:49] #121 closed

[2016-04-14 19:12] satya007satya commented on #96
Hi @purplefox  one of the issue i am facing is about the plugins in gradle-simplest example. Simply build is throwing error about 'peer not authenticated' , even after search over the google and installing the various certificates in java keystore it still throws 'unable to find valid certification path to requested target'.

I believe other must be facing the problem, could you please provide som

[2016-04-15 05:57] cescoffier commented on #96
@satya007satya we don't have certificates per se. It's the maven certificates from Maven Central or from the repository you use. The one for Maven Central are up to date, and an expiration would trigger a huge amount of complain (so I'm sure the administrators take care of this).

[2016-05-09 18:14] leonroy opened #128 "Vertxbus Webpack doesn't show output"
Noticed a [webpack example](https://github.com/vert-x3/vertx-examples/tree/master/web-examples/src/main/java/io/vertx/example/web/vertxbus/webpack). Followed the steps in the `Readme.md` and visited `http://localhost:8080/index.html`.

I briefly see `Connecting` followed by `-` flash across the screen, then nothing.

Can see events coming through in the console so guessing an issue lies somewhere

[2016-05-10 11:06] pmlopes commented on #128
Yes the client app has no proper UI just sets a bunch of CSS styles.

Please see: https://github.com/vert-x3/vertx-examples/pull/129 for a working GUI app

[2016-05-10 12:01] #128 closed

[2016-05-29 15:19] vietj opened #131 "Make harmcrest / assertj example as now it can work"
depends on https://github.com/vert-x3/vertx-unit/pull/33#issuecomment-222348900

[2016-06-03 10:19] cescoffier opened #133 "io.vertx.example.core.http2.push.Server is not polyglot"

[2016-06-03 14:19] cescoffier opened #134 "Freemarker and Pebble examples do not run in JS"
But runs in Groovy, Java and Ruby.

[2016-06-03 14:19] cescoffier commented on #134
Here is the output I have:

[code]

[2016-06-03 14:26] cescoffier commented on #134
Same output for pebble.

[2016-06-03 14:48] cescoffier opened #135 "Vert.x Web HTTP2 example is not polyglot"

[2016-06-06 08:03] #135 closed

[2016-06-06 11:38] #134 closed

[2016-06-06 14:04] cescoffier opened #136 "Add examples about the circuit breaker"

[2016-06-06 14:05] cescoffier opened #137 "Add service discovery examples"

[2016-06-06 14:05] cescoffier opened #138 "Add openshift v3 examples"
With S2I, with `oc` and with the Fabric8 Maven Plugin

(all of them on CDK for now)

[2016-06-06 14:05] cescoffier opened #139 "Find a way to test the OSGi examples"

[2016-06-09 15:23] juanavelez opened #140 "There is no vertx-web-impl-pebble, vertx-web-impl-freemaker in vertx-web 3.2.1"
Latest commits changed web-examples/pom.xml to reference
[code]

These dependencies are only available in vertx-web 3.3.0-SNAPSHOT not in 3.2.1

[2016-06-09 15:56] cescoffier commented on #140
My fault, wrong branch ! Thanks for reporting.

[2016-06-09 17:25] cescoffier commented on #140
Should be fixed.

[2016-06-09 17:33] juanavelez commented on #140
Unfortunately there are more references in code to vertx-core/vertx-web 3.3.0-SNAPSHOT
[code]
[code]

[2016-06-09 18:23] cescoffier commented on #140
Well, that's weird. Let me check

[2016-06-09 19:12] pmlopes commented on #140
core is not up to date in the local maven cache

[2016-06-09 19:18] juanavelez commented on #140
What do you mean by core is not up to date? The pom.xml is referencing version 3.2.1 which there is only one,

[code]

[2016-06-10 06:40] cescoffier commented on #140
Should be better now.

[2016-06-10 06:48] cescoffier commented on #131
PR merged

[2016-06-10 06:48] #131 closed

[2016-06-10 08:48] pmlopes commented on #140
I've clean my machine and build both the `master` and `3.3.0-SNAPSHOT` branches and there are no compilation issues. Make sure that you clean your target before building a new jar since it might leave features from 3.3 (such as http2) on your master (3.2) where it doesn't exist. Also be sure not to run offline for 3.3.0-SNAPSHOT since you need the latest development jar from core.

[2016-06-10 12:04] eugenetaranov opened #142 "fabric8:apply issue"
Hello,

I am trying to follow the procedure at https://github.com/vert-x3/vertx-examples/tree/master/docker-examples/vertx-docker-example-fabric8 though it fails with "java.lang.IllegalArgumentException: port out of range:-1" error, please full error message https://gist.github.com/eugenetaranov/e3a1cceecddd33004e5899e202a826d0

Can you please look into ?

[2016-06-10 14:03] juanavelez commented on #140
@cescoffier Yes, indeed, everything compiles correctly now.

@pmlopes I had indeed blown away my local repo, cloned again this repo (master), ran again a maven build (which triggered the download of tons of jar artifacts) and I still had the compilation errors. If you don't mind, can you point me where in github I can find io.vertx.core.net.SSLEngine for version 3.2.1 of vertx-core?

[2016-06-10 14:03] #140 closed

[2016-06-15 10:13] purplefox commented on #142
Yes, I am getting this too, in the latest master? Anyone get any ideas what is going on?

[2016-06-15 10:15] jstrachan commented on #142
I can have a look at this on monday if you don't get anywhere.

[2016-06-15 10:19] purplefox commented on #142
Thanks James, any clues where I should investigate?

[2016-06-15 10:23] jstrachan commented on #142
Not yet - I wonder if trying a recent release helps?

e.g. try `2.2.132` here https://github.com/vert-x3/vertx-examples/blob/master/docker-examples/vertx-docker-example-fabric8/pom.xml#L98

[2016-06-15 10:26] purplefox commented on #142
Awesome, it builds now, thanks James :)

[2016-06-15 10:28] jstrachan commented on #142
who-hoo!!! :)

[2016-06-15 10:50] purplefox commented on #142
After upgrading to this version I get the following error:

ERROR] DOCKER> {
  "paths": [
    "/api",
    "/api/v1",
    "/apis",
    "/apis/autoscaling",
    "/apis/autoscaling/v1",
    "/apis/batch",
    "/apis/batch/v1",
    "/apis/extensions",
    "/apis/extensions/v1beta1",
    "/healthz",
    "/healthz/ping",
    "/logs/",
    "/metrics",
    "/resetMetrics",
    "/swagger-ui/",
    "/swagge

[2016-06-15 10:55] jstrachan commented on #142
yeah, thats looking like its using the kubernetes REST API rather than talking to the DOCKER_HOST REST API.

I wonder what's your DOCKER_HOST?

[2016-06-15 10:56] jstrachan commented on #142
BTW that response is a typical response if you query the root of the kubernetes REST api server

[2016-06-15 10:59] purplefox commented on #142
It's set to tcp://localhost:8080

[2016-06-15 11:00] jstrachan commented on #142
I suspect docker isn't listening on that port. Its usually 2375 or 2376 for TLS.

Try do
[code]
and try get that working via setting DOCKER_HOST

[2016-06-15 11:54] purplefox commented on #142
Sorry for the noise James - I did have all this stuff setup months ago, but I'm doing it again, and of course I've forgotten everything.

Basically I want to use F8 maven plugins with a local k8s using Vagrant (I'm not using OpenShift).

I've followed this guide to install everything -http://kubernetes.io/docs/getting-started-guides/vagrant/ - it all seems to be working fine, at least on the comma

[2016-06-15 11:58] jstrachan commented on #142
I've no idea either - I've never tried using docker with that VM :(.

If you don't mind, try vagrant up this VM instead:

[code]
then follow these instructions:
http://fabric8.io/guide/getStarted/vagrant-kubernetes.html
then
[code]

you should be able to type
[code]

[2016-06-15 13:23] purplefox commented on #142
Uh, I feel completely thick here, I can now get the docker image to build (curiously DOCKER_HOST=tcp://172.28.128.80:2375 works but DOCKER_HOST=tcp://vagrant.f8:2375 doesn't)

Now I am trying:

mvn fabric8:json fabric8:apply

and it gives me

http://cwiki.apache.org/confluence/display/MAVEN/MojoExecutionException
[ERROR] Failed to execute goal io.fabric8:fabric8-maven-plugin:2.2.132:apply (default

[2016-06-15 13:27] jstrachan commented on #142
So there are 2 separate REST APIs; docker and kubernetes. Looks like docker is working now - yay!

Can you type:
[code]
This should be using a URL thats stored in ~/.kube/config. If you've used a previous install of kubernetes there could be some other random IP address in there (like 10.245.1.2).

The kubernetes REST API for the fabric8 vagrant image should be at: http//172.28.128.80:8080.

Writi

[2016-06-15 13:33] purplefox commented on #142
kubectl get pods times out, so I guess the k8s daemon isn't running?

This was working then I logged out and in again, I assume the service would start automatically but I guess I need to start it manually? No idea how to do that either... ;)

[2016-06-15 13:36] jstrachan commented on #142
I've a feeling you've a naff ~/.kube/config file pointing at a wrong URL for the REST API for kubernetes.

maybe rename it and copy the one from above?

[2016-06-15 13:36] jstrachan commented on #142
```kubectl cluster-info```
might help?

[2016-06-15 13:39] jstrachan commented on #142
BTW if you do
[code]
i.e. to use kubectl inside the VM does that work? If thats borked too you might wanna restart kubernetes again (not sure why your VM got borked mind you!)

There's a script to restart it...
[code]
(you may have to chmod +x that first)

[2016-06-22 08:38] #133 closed

[2016-06-27 09:21] vietj opened #143 "Camel bridge example"
we need a camel bridge example as it's a new 3.3 feature.

[2016-07-05 12:27] #143 closed

[2016-07-06 08:00] #138 closed

[2016-07-06 08:30] cescoffier commented on #142
Hi,

I've updated the plugin versions and the instructions. It seems to work now. I tested against CDK.
(https://github.com/vert-x3/vertx-examples/tree/master/openshift3-examples for CDK installation instructions).

[2016-07-08 11:28] liuyang2010001256 opened #144 "vertx3.3.0 vertx-sql-common batchwithParams hava a problem."
our project need batch insert data to database.so i test batchWithparams performance . i hava a problem with inserting a String to database which i hava never see in vertx 3.2.1.  this is exception:

java.sql.SQLException: Incorrect string value: '\xAC\xED\x00\x05sr...' for column 'description' at row 1

it happened when i insert 'ec423f92-4e22-31fe-ac90-c2797ed86b4a' to database.

[2016-07-08 12:27] pmlopes commented on #144
That's a MySQL issue that has been fixed: https://github.com/vert-x3/vertx-jdbc-client/issues/65

Also that is not a examples issue.

[2016-07-08 12:27] #144 closed

[2016-07-18 11:42] #139 closed

[2016-07-27 22:38] jymboche opened #150 "High CPU Usage With Redeploy"
I have a project setup identically to the gradle-redeploy example here and notice I get unusably high CPU usage when redeploy is running. I determined it was because i have a webroot folder with a large number of files (client-side node.js dependencies) that is putting the Watcher through a lot. Is there anyway to exclude these? I have taken them out of the src directory and put them at the root o

[2016-07-28 15:01] cescoffier commented on #150
Can you provide a reproducer, or a simple way to reproducer these settings. As said on the mail thread, I've found an issue (actually 2) in the watcher. I've built a version with a fix, but I would like to see if 1) it makes a big difference, 2) if I can't improve it a bit

[2016-07-28 15:32] jymboche commented on #150
I created a repo. Is that what you mean by reproducer?
https://github.com/jymboche/vertx-redeploy-bug

Anyway, its just the gradle-redeploy example with a folder named "webapp" at the root which contains many node_modules (included in the repo for simplicity).
[code]
shows the java thread at 80% in activity monitor.
Stop, move the webapp folder out of project and cpu is normal.

[2016-07-28 15:45] cescoffier commented on #150
Thanks, gonna have a look later today or tomorrow

[2016-07-29 09:59] cescoffier commented on #150
Can you try with https://github.com/cescoffier/vert.x/tree/issues/improve-watcher-change-detection-perf

I've made some changes that make the watcher much more performant.

Get my branch and compile it with: `mvn clean install -DskipTests`.
In your gradle project, you may have to add the ` mavenLocal()` repo (instead of the staging one).

[2016-07-29 15:18] jymboche commented on #150
Ahhhh! Nice! Im traveling today but i did a quick test with the repo above and, and moved it into src/main too and seems to be working as expected -- barely a blip for the java process. Thanks so much!

[2016-07-29 18:32] cescoffier commented on #150
You are welcome ! Thanks for the feedback.

[2016-08-03 11:19] cescoffier commented on #150
PR merged. Closing this issue

[2016-08-03 11:19] #150 closed

[2016-08-04 07:37] #136 closed

[2016-08-26 18:48] #137 closed

[2016-08-29 10:05] akshaykolte opened #155 "SEVERE io.vertx.core.impl.ContextImpl Unhandled exception is being thrown during a file upload"
I am uploading a file to the filesystem and then doing operations on it and returning a new file in response. I am using the upload handler for the task.

[code]

The program works fine and I get the desired output. However the log in terminal shows the following warnings/errors:

[code]

I would like to  resolve the exception and would like to know how it affects my code if kept that way.
This is

[2016-08-29 10:06] akshaykolte commented on #155
The functions called inside the function above do not have any Vertx code or handlers in them and are sequential in nature.

[2016-08-29 10:27] akshaykolte commented on #155
It seems to be happening because sendFile function already returns a response and there is no need to end the response again. It can be resolved by removing the response.end() call.

[2016-08-29 10:27] #155 closed

[2016-09-17 12:12] white-collar opened #157 "java.util.concurrent.TimeoutException while POST-request with form-data"
Hello.

I have extremely simple handler to get post form data and perform:

[code]

Problem:

If i use JavaScript post-query via Jquery with form-encoded json-data - handler executes without problen and I see the debug-string.

However if I use test method:

[code]
I always get exception:

[code]

[2016-09-17 14:41] EmadAlblueshi commented on #157
It seems in the first block of your code the routingContext is not ended

[2016-09-17 18:29] pmlopes commented on #157
You're saying your json is 1000 bytes long which is clearly wrong and netty waits for your client to send remaining data, therefore your timeout.

[2016-09-17 18:34] white-collar commented on #157
Sorry. closed.

[2016-09-17 18:34] #157 closed

[2016-09-17 18:40] pmlopes commented on #157
No problem, replace 1000 with body.length() and you should be good.

[2016-09-22 11:42] #117 closed

[2016-09-29 09:13] yh3434 opened #160 "Missing artifact io.vertx:examples-utils:jar:3.3.3"
Hello:
     Missing artifact io.vertx:examples-utils:jar:3.3.3

[2016-09-29 10:19] cescoffier commented on #160
The project is there: https://github.com/vert-x3/vertx-examples/tree/master/examples-utils.

you need to build all examples first:
[code]

and then run them individually. Check the README.md file at the root of the repo. It gives you all the instructions.

[2016-09-29 10:19] #160 closed

[2016-09-29 10:19] cescoffier commented on #160
Please reopen if you think there is a bug somewhere.

[2016-10-04 21:28] weaver-viii opened #161 "ceylon 1.3.0 example issue"
works with 1.2.2 but 1.3.0

---

---

examples.core.http.simple.server deploy failure:
_**java.lang.NoClassDefFoundError: com/redhat/ceylon/common/tools/ModuleSpec$Option**_
        at io.vertx.lang.ceylon.CeylonVerticleFactory.createVerticle(CeylonVerticleFactory.java:137)
        at io.vertx.core.impl.DeploymentManager.createVerticles(DeploymentManager.java:184)
        at io.vertx.core.impl.Dep

[2016-11-22 09:45] sportace87 opened #163 "NoClassDefFoundError: com/mongodb/connection/StreamFactoryFactory in mongo-example"
Executing the mongo-examples leads to above exception.
Downgrading to version 3.2.1 leads to a working example. Just with version 3.3.3 this exception occurs. There is a google-group entry: https://groups.google.com/forum/#!topic/vertx/Ls-LoUP-xTo

[2016-11-23 14:10] sportace87 commented on #163
Solved. This error was due to inconsisten libraries in local maven repository

[2016-11-23 14:10] #163 closed

[2017-02-11 14:52] psotos opened #174 "Maven not finding examples-utils"
Hi there!

I am getting an error when trying to find this dependency:
[code]
Here is my complete pom.xml file:
[code]

[2017-02-11 16:03] alexlehm commented on #174
examples-utils is not published to maven I think. You can compile and put the module into your local maven repo like this:

https://github.com/vert-x3/vertx-examples#some-examples-need-examples-utils

[2017-02-13 07:05] cescoffier commented on #174
At said by @alexlehm, you need to install example-utils first.

[2017-02-13 07:05] #174 closed

[2017-02-14 09:18] matzew opened #175 "http2-fatjar example gives: SSLException: failed to set certificate and key"
Running `java -jar target/http2-fatjar-3.3.3.jar` gives me:

[code]

Here is my environment:
[code]

[2017-02-14 10:34] cescoffier commented on #175
I just fixed it in the 3.4.0-SNAPSHOT branch. It's the tcnative version that was not aligned with the netty version. Can you try this branch ?

[2017-02-14 10:37] cescoffier commented on #175
actually, I just fixed master too ;-)

[2017-02-20 08:41] #175 closed

[2017-03-03 16:06] cristic83 opened #178 "Support multiple authentication/authorization handlers for a route"
Hi,

Currently Vert.x 3.3.3 does not support having more than one Auth handlers configured for a route. So, if for example I have an endpoint that I want to be accessed using both Basic and JWT auth, it can't be done.

In order to work around this, taking into account that the handlers provided by Vert.x fail the RoutingContext, I needed to create a handler of my own which sets the handler and fai

[2017-03-03 16:07] #178 closed

[2017-03-09 01:44] loser007 opened #179 "java.lang.ClassNotFoundException:"
java.lang.ClassNotFoundException: web-examples/src/main/js/io\vertx\example\web\helloworld/server.js
	at java.net.URLClassLoader.findClass(Unknown Source)
	at java.lang.ClassLoader.loadClass(Unknown Source)
	at sun.misc.Launcher$AppClassLoader.loadClass(Unknown Source)
	at java.lang.ClassLoader.loadClass(Unknown Source)
	at io.vertx.core.impl.JavaVerticleFactory.createVerticle(JavaVerticleFactory.

[2017-03-09 07:10] cescoffier commented on #179
Which OS are you using ?

Can you try with / everywhere in the verticle location ?

Clement

[2017-03-09 09:24] awaisraad commented on #179
Improper slashes seems to be the reason: "web-examples/src/main/js/io\vertx\example\web\helloworld/server.js"

And please report the problem properly.

[2017-03-13 07:41] #179 closed

[2017-03-28 00:50] markhu commented on #96
I added a few lines to the [wiki](https://github.com/vert-x3/vertx-examples/wiki) that seemed missing from the official docs.

[2017-04-07 03:05] y80x86ol opened #181 "js"

[2017-04-07 03:05] #181 closed

[2017-04-07 03:07] y80x86ol opened #182 "js how to require myself js file"
when i use vertx javascript,but i don't know how to require myself js file.
example,I want to require B.js in A.js

[2017-04-07 06:52] pmlopes commented on #182
As you can see from the examples it is like with node.js:

[code]

[code]

[2017-04-07 06:52] #182 closed

[2017-04-07 07:28] y80x86ol commented on #182
Thank you!! @pmlopes

[2017-04-07 07:35] y80x86ol opened #183 "in js,how to use sync in mongo"
in js,how to use sync in mongo
example,I want find a data and return。so how to use sync?or is it support sync?

[2017-04-07 13:31] pmlopes commented on #183
@y80x86ol please use the google forum for support: https://groups.google.com/forum/#!forum/vertx

This is not a issue.

[2017-04-07 13:31] #183 closed

[2017-04-14 03:05] markhu opened #185 "Groovy options examples don't work with hashMap"
The example at http://vertx.io/docs/vertx-core/groovy/#_specifying_options_when_creating_a_vertx_object

    def vertx = Vertx.vertx([ workerPoolSize:40 ])

...doesn't work for me, giving this error:

    Caught: groovy.lang.MissingMethodException: No signature of method: static io.vertx.core.Vertx.vertx() is applicable for argument types: (java.util.LinkedHashMap) values: [[workerPoolSize:33]]

B

[2017-04-20 21:47] inst-dev-1 opened #187 "RESTEASY003200: Could not find message body reader"
Hi,
I'm currently trying to use RESTEasy in my Vertx projects and struggling on the issue that the message body reader was not found for io.vertx.core.json.JsonArray (RESTEASY003200) doing a post request. I also tried as described in the internet to add a RESTEasy Jackson specific dependency but after that I getting a different exception directly from Vertx that methods/classes are missing :(.

Do

[2017-04-22 04:37] fulus06 opened #188 "mqtt-server-examples --> README.adoc 404"
The link in the file is wrong

e.g
[Java echo server](https://github.com/vert-x3/vertx-examples/blob/master/mqtt-server-examples/src/main/java/io/vertx/example/core/net/echo/Server.java)

[2017-04-22 04:48] #188 closed

[2017-04-25 00:02] michaelpog opened #189 "Cannot build examples:"
When I go to the root directory of the vertx-examples:
and run ```mvn clean package```
I get the following error:
[code]

[2017-04-25 04:12] crazyliuzc opened #190 "The URL of the client source is wrong"
![qq 20170425120725](https://cloud.githubusercontent.com/assets/6993730/25368632/5b9de0e0-29b0-11e7-983c-4ba2b572d1de.png)

[2017-04-25 13:57] cescoffier commented on #189
Hi,

I don't see an issue:

[code]

I'm surprised you tried to resolve a SNAPSHOT dependency. Can you tell me how to reproduce the issue.

[2017-04-25 14:55] #190 closed

[2017-04-25 15:07] cescoffier commented on #190
Web site updated. Thanks !

[2017-04-25 20:05] michaelpog commented on #189
I am not sure, I just cloned the examples and was trying to run build them with mvn, and that's  the issue I'm getting.
Do you have anything in the Maven setting.xml that could have solved it?

[2017-04-27 10:48] cescoffier commented on #189
Hum, no. I've tried from scratch (no maven repo, no settings):

[code]

[2017-04-27 10:48] cescoffier commented on #189
BTW, which version of maven are you using ?

[2017-04-28 19:14] #142 closed

[2017-05-03 22:44] michaelpog commented on #189
[code]

[2017-05-05 16:13] tsegismont commented on #187
Please use the Vert.x forum for usage questions. Not all members of the
community are subscribed to the GitHub repositories so you have higher
chances to get help there.

See http://vertx.io/community/ for details

Also, it's easier to help if you provide code snippets or, even better, a
reproducer project on GitHub.

Thank you!

2017-04-20 23:47 GMT+02:00 inst-dev-1 <notifications@github.com>:

[2017-05-05 16:13] #187 closed

[2017-05-15 12:55] MerlinFeng opened #194 "Rename filename when i sendfile"
Can I rename filename when i sendfile ?

[2017-05-15 16:30] tsegismont commented on #194
It's not clear what you are referring to. Can you please elaborate on the
Vert.x user forum (see vertx.io/community). Thanks

2017-05-15 14:55 GMT+02:00 MerlinFeng <notifications@github.com>:

[2017-05-15 16:30] #194 closed

[2017-05-17 08:28] guoyu511 opened #195 "Core example - proxyconnect"
Since version 3.3.3, non SSL HttpClient will no longer use CONNECT for requests, so this example should be updated.
`vertx-examples/core-examples/src/main/java/io/vertx/example/core/http/proxyconnect/`

[2017-05-25 05:50] manucr619 opened #196 "JS - TCP Concept - High CPU Utilization"
Am listening a TCP Server and pumping directly from Apache Jmeter for about 500 users and a run forever in it. Why its throwing high CPU Utilization. i have shared you the Logs of CPU Utilization  which i took from TOP Command in my Linux Server.

**Highest Occurred:**

KiB Mem : 16149992 total,   450784 free,  8355344 used,  7343864 buff/cache
KiB Swap: 33554428 total, 33554428 free,        0 use

[2017-05-31 09:43] CrazySyntax opened #199 "My IDE shows "io.vertx.core... doesn't exist"
I cloned your repository, did:
mvn clean
mvn install

and still I get this error.

Do you know why?

[2017-05-31 11:15] cescoffier commented on #199
Can you give the full message?

[2017-06-08 22:20] AlexBischof opened #200 "Add monitoring example for prometheus"
Since it was a little bit time consuming for me to get vertx metrics monitored with prometheus it might be useful for others to have a recipe here. What do you guys think?

My example can be found here : [https://github.com/AlexBischof/vertx-prometheus-example](https://github.com/AlexBischof/vertx-prometheus-example)

[2017-06-12 06:05] cescoffier commented on #200
Can you open a PR on this project with your example?

[2017-06-12 08:25] AlexBischof commented on #200
I can provide one this evening.

2017-06-12 8:05 GMT+02:00 Clement Escoffier <notifications@github.com>:

[2017-06-13 09:09] #200 closed

[2017-06-21 11:08] wu-lee opened #202 "WebClient doesn't persist cookies, and therefore doesn't support sessions"
I mentioned this on the google group. Julien Viet confirmed that it does not support sessions, but since the WebClient is meant to be a rich client which makes these things easy, suggested I open an issue to request that some mechanism to support cookie persistence be added.

[2017-06-21 11:25] wu-lee commented on #202
See vert-x3/vertx-web#648

[2017-06-27 12:41] pmlopes opened #203 "Rx SQLRowStream with cursor example"
@vietj commented on [Mon Jun 12 2017](https://github.com/vert-x3/vertx-jdbc-client/issues/102)

the `SQLRowStream` supports cursors results, we should have an example of how to use it with Rxified API.

[2017-06-27 12:51] pmlopes commented on #196
I'd recommend to post on the user group and add some code to trouble shoot your issue since this report states tcp server and the logs refer to jmeter, redis, jetty... there are to many variables here and no code.

Plus this is a question not related to this code repository.

[2017-06-27 12:51] #196 closed

[2017-06-28 14:11] AshleyByeUK opened #204 "RouteGuide no "Got" messages in routeChat example"
I've just gone through the [RouteGuide](https://github.com/vert-x3/vertx-examples/tree/6647064e8a7afab08fa1165c3a55581ebdbb6cd2/grpc-examples/src/main/java/io/vertx/example/grpc/routeguide) example and would like to query the output from [routeChat](https://github.com/vert-x3/vertx-examples/blob/6647064e8a7afab08fa1165c3a55581ebdbb6cd2/grpc-examples/src/main/java/io/vertx/example/grpc/routeguide/C

[2017-06-28 14:15] AshleyByeUK opened #205 "RouteGuide Client listFeatures no NPE thrown"
I have just run this example without the extraneous [response.endHandler()](https://github.com/vert-x3/vertx-examples/blob/6647064e8a7afab08fa1165c3a55581ebdbb6cd2/grpc-examples/src/main/java/io/vertx/example/grpc/routeguide/Client.java#L102-L112) and no NPE was thrown.

[2017-06-29 12:25] AfzalMohammad5 opened #206 "JWT error , while using the generateToken method."
Not able to create the jwt token, its throwing following error.
Not working ,while running existing jwt vertx-example .
![capture](https://user-images.githubusercontent.com/23632799/27687156-5d05da5c-5cf3-11e7-9206-ea616fc00178.PNG)

[2017-07-05 15:49] fedorchuck opened #209 "BUG: java.lang.NoSuchMethodError: org.bson.types.ObjectId.toHexString()Ljava/lang/String;"
[code]
On the line:
[code]

[2017-07-05 18:53] fedorchuck commented on #209
Sorry, it's my fault. If you have dependency `org.mongodb:mongo-java-driver:2.10.1`, you get this error.

[2017-07-05 18:53] #209 closed

[2017-07-08 09:56] ppatierno opened #211 "Readme under MQTT server examples reports "no MQTT related" examples"
Hi,
the readme file under MQTT server (https://github.com/vert-x3/vertx-examples/blob/master/mqtt-server-examples/README.adoc) describes examples not related to MQTT (i.e. HTTP, websockets, Event bus and so on).

[2017-07-09 07:50] vietj commented on #211
can you provide a PR ?

[2017-07-09 10:19] ppatierno commented on #211
done :-) https://github.com/vert-x3/vertx-examples/pull/212

[2017-07-18 16:32] markhu opened #213 "eventbus examples not working in CentOS 6"
Am I doing something wrong? Is there a missing piece not clear in the docs/code-comments?

[code]

[2017-07-18 18:32] andreas-eberle opened #214 "Add real time news feed example with Java client"
I want to create a client server application much like the [realtime bidding example](http://vertx.io/blog/real-time-bidding-with-websockets-and-vert-x/) or the [realtime news feed example](https://github.com/vert-x3/vertx-examples/blob/master/web-examples/src/main/java/io/vertx/example/web/realtime/Server.java) but with a Java client.

I already [asked on Stackoverflow](https://stackoverflow.com/

[2017-07-18 18:51] markhu commented on #189
First bump I hit was a reliance on port 8080 being available. After I stopped my other process listening on port 8080, the unit tests were able to pass, and I got much further.

But still stopped short of completion:

[code]

(Apparently VertX includs its own `protoc` executable.)

[2017-07-18 19:19] vietj commented on #214
the client advocated on SO is valid, however we have also a WIP development of a Java client for both TCP and websocket here https://github.com/vert-x3/vertx-eventbus-bridge-clients/tree/java-client

[2017-07-18 19:19] vietj commented on #214
when the https://github.com/vert-x3/vertx-eventbus-bridge-clients/tree/java-client will be released we will provide examples for it I think

[2017-07-18 20:28] andreas-eberle commented on #214
Thanks @vietj: Is there an ETA for the official client?

[2017-07-18 21:21] vietj commented on #214
we want to make a release of all clients, but I don't have yet an ETA. @pmlopes WDYT ?

[2017-07-19 05:57] pmlopes commented on #214
Currently we need tests, all bridges build fine we just need to test if everything is fine, Everyone is welcome to join!

[2017-07-19 08:24] vietj commented on #213
you should use the `-cluster` switch for these examples

[2017-07-19 08:39] andreas-eberle commented on #214
Is there a good example where I can see the usage? And are the artefacts available via Maven Central or something like that? Because then I could start my project with this client and if I experience some problems, report back to you.

[2017-07-19 08:53] vietj commented on #214
@andreas-eberle at the moment you need to build them yourself from the sources. The new client is standalone and only depends on Netty and json library. I believe we could setup a CI for the client to publish snapshots though.

[2017-07-19 08:53] vietj commented on #214
@pmlopes we also need to come up with a release plan / strategy, specially for binaries

[2017-07-19 14:45] pmlopes commented on #214
There's a pr pending showcasing binary uploads to bintray. We need to get an official account since the pr uses my own account.

[2017-07-19 22:12] markhu commented on #189
Follow-up: I was able to build with the `docker` mega-one-liner using newer Maven version:

[code]

But not my older Maven on localhost:

[code]

[2017-07-21 12:58] cescoffier commented on #189
Maven 3.5.x is required by the gRPC maven plugin.

[2017-07-22 10:27] xMarkusSpringerx opened #216 "slf4j logging needs to be imported"
[code]
I get this error while executing one of the `web-examples`.
To fix this you need to add the slf4j dependency.

[code]

[2017-07-23 13:39] fakeguoyd opened #217 "how can I unregister a address in javascript?"
I register a EventBus handler by click a button. The fuction in the following:
`function ebopen(){
            eb.registerHandler("chat.to.client",function(err,msg){
            //dosomething
}`
Now,I want to unregister the address--"chat.to.client",by clicked a button. The function in the following:
`function ebclose(){
            eb.unregisterHandler("chat.to.client",function(err,msg){

[2017-07-24 08:57] tsegismont commented on #217
Can you please send your question to the user forum ? Not everyone in the
community is subscribed to the GitHub repositories, so we don't use it for
questions.

See vertx.io/community

Questions with a code/reproducer are easier to answer. Thanks

2017-07-23 15:39 GMT+02:00 fakeguoyd <notifications@github.com>:

[2017-07-24 09:17] fakeguoyd commented on #217
I am really sorry. I will send my question to user forum later,thanks.

[2017-07-24 09:58] tsegismont commented on #217
No worries :)

2017-07-24 11:17 GMT+02:00 fakeguoyd <notifications@github.com>:

[2017-07-24 11:55] tsegismont commented on #216
@xMarkusSpringerx thanks. I sent a PR but since these examples use a jdk logging config file it's better to add slf4j-jdk14 bindings.

[2017-07-28 09:01] #211 closed

[2017-07-31 15:51] #216 closed

[2017-08-03 09:59] #213 closed

[2017-09-01 01:55] Mousaka opened #223 "kotlin-example heroku deploy"
Having trouble deploying the kotlin-exapmle which is said to be ready for deployment on heroku. I can run it locally and build seems to succeed at heroku aswell. However, when I try to load the heroku page I get this error in the heroku log:
[code]
which I find weird since I can see the port variable being set earlier in the log when it runs the line from the Procfile:
[code]
Here I noticed that m

[2017-09-01 02:44] Mousaka commented on #223
Ok so it was as I expected... The code seems to try load the port from some non-existing config. But loading port from system environment variable "PORT" makes it load heroku's chosen port. Here is the code I used successfully:
[code]
Maybe there is a prettier solution to this but this worked for me and maybe the code in the repo should be changed as well?

[2017-09-03 05:09] mgouline commented on #223
The configuration that `http.port` comes from is [Procfile](https://github.com/vert-x3/vertx-examples/blob/master/kotlin-example/Procfile), you'll notice the `-Dhttp.port=$PORT` part.

It doesn't matter much for Heroku, because the port number comes from the `PORT` environment variable anyway, but the code shouldn't rely on where it's hosted, that's what configuration is for. I haven't looked at t

[2017-09-04 01:20] Mousaka commented on #223
Ah ok now I see.. so -Dhttp.port=$PORT is actually setting the config variable that u're suppose to get with `config().getInteger("http.port", 8080)`. But for some reason it doesn't... even though I can see in the log that it started the app with `-Dhttp.port=8080` (might actually have been another port but I see that it's set to something)

[2017-09-11 18:34] ctranxuan opened #224 "RxHelper.deployVerticle() and RxJava2"
Hello,
Not sure it's a bug but while integrating the version 3.5.0.Beta1, we've faced by chance an issue with the vertx and RxJava2.

While trying to deploy a verticle with the following code :

`RxHelper.deployVerticle(vertx, new HelloVerticle());`

We got the following stacktrace:

<details>
[INFO] java.lang.IllegalArgumentException: unsafeCreate(Single) should be upgraded
[INFO] 	at io.reactive

[2017-09-11 18:57] Sammers21 commented on #224
Why not using a gist or a github repository for showing your code?

[2017-09-12 12:51] tsegismont commented on #224
Nice catch!

Indeed if you have Rx verticles you don't needs this method. This method is
useful when you have raw (non Rx) verticles which you want to deploy with
an Rxified Vert.x.

2017-09-11 20:34 GMT+02:00 ctranxuan <notifications@github.com>:

[2017-09-12 12:57] tsegismont commented on #224
+1, a gist would be better for a future report

Also, such an issue should be filed on the Vert.x Rx module

2017-09-11 20:57 GMT+02:00 Pavel Drankov <notifications@github.com>:

[2017-09-12 14:06] ctranxuan commented on #224
Nonetheless, the `vertx.rxDeployVerticle()` does not support deploying an instance of a verticle while the non-rxified API does.
Actually, when we need a such behavior, we usually use a VerticleFactory.

[2017-09-12 15:41] tsegismont commented on #224
Yes, that it is the problem and it is fixed in https://github.com/vert-x3/vertx-rx/pull/108

[2017-09-15 10:19] kumangxxx opened #225 "NoClassDefFoundError in gradle-simplest"
what i did :
- cloned the project
- build the project using ```./gradlew shadowJar```
- run the jar using ```java -jar build/libs/gradle-simplest-3.4.2-fat.jar```
- got this error :
[code]

environment :
- ubuntu 16.04
- Java 1.8.0_144

any idea what is wrong ?

thanks!

[2017-09-15 20:10] Sammers21 commented on #225
interesting... it works fine on macOS + Java 1.8.0_144

[2017-09-19 06:45] mcun0s opened #226 "Timeout eventbus if use Hazelcast clustering"
Hi guys!
I'm doing POC of clustering by the Hazelcast and I got a problem for use this.

https://github.com/vert-x3/vertx-examples/tree/master/spring-examples/springboot-clustering/springboot-clustering-hazelcast
(nothing to changes without port configuration)

I have 2 CentOS 6.5 servers and the above example source are located at both of them.
- First Node : 192.168.1.128
- Second Node : 192.168

[2017-09-19 09:01] #224 closed

[2017-09-19 15:44] tsegismont commented on #226
---------- Forwarded message ----------
From: Thomas SEGISMONT <tsegismont@gmail.com>
Date: 2017-09-19 17:38 GMT+02:00
Subject: Re: [vertx:43207] Timeout eventbus if use Hazelcast clustering
To: vertx@googlegroups.com

I had tried this example on same host only. I believe this part should be
updated:
https://github.com/vert-x3/vertx-examples/blob/master/
spring-examples/springboot-clustering/sprin

[2017-09-20 01:50] mcun0s commented on #226
Hello @tsegismont,
First of all, thanks for your help!

As you told me, I was adding 'clusterHost' option into 51 line and then it's resolved.
It's working fine if the 'clusterHost' value to be set machine IP address.

If somebody has same issue, please add following line.
[code]

Thanks again!

Best regards,
Unho.

[2017-09-20 01:57] #226 closed

[2017-09-24 21:42] villesau opened #228 "kotlin-example deserializing json example"
Would it be possible to implement a post method to example which deserializes json to i.e Island calss?

It seems not to be obvious how to do it, i hit to following error:

`io.vertx.core.json.DecodeException: Failed to decode: Cannot construct instance of `io.vertx.example.Island` (no Creators, like default construct, exist): cannot deserialize from Object value (no delegate- or property-based Cr

[2017-09-26 06:00] chengenzhao commented on #202
Yeah, we also hope the webclient could support cookies if it is simple and easy, please allow us to enable it

[2017-10-05 23:21] adam-arold opened #230 "Kotlin hot deploy is not working"
I cloned the examples project and ran the Kotlin example.

I tinkered with the mock data and then I saw that vert.x reloaded something:

[code]

But after that when I navigated to `http://localhost:8080/islands` I still saw the same islands despite the fact that I deleted one. What could be the problem?

[2017-10-06 07:13] cescoffier commented on #230
The issue is:

[code]

You are probably using a user command to rebuild your application. This command fails.

[2017-10-14 13:39] Danilo-Araujo-Silva opened #232 "How to create a real polyglot example?"
If we would like to use all supported languages, how can we write a code that can use all of them?

For example, if we have the following files:

**Polyglot.java**

[code]

**Java.java**

[code]

**Kotlin.kt**

[code]

How can we put it to work running something like `vertx run Polyglot.java`?

I would like some help to create an example with all supported languages too, like using Ruby, Python, J

[2017-10-16 10:03] napperley commented on #230
@adam-arold - **gradlew** is a BASH shell script which will only run on a Unix based OS (eg **Linux**). You should be running **gradlew.bat** (Windows Batch file) instead.

[2017-10-16 16:08] adam-arold commented on #230
Well I'm familiar with the concept of Gradle wrapper, but I use Git Bash as a default CLI tool.

Replacing the command with `gradlew classes` solved the issue.

[2017-10-16 16:09] #230 closed

[2017-10-16 18:11] adam-arold opened #234 "BindException when restarting vert.x with the Gradle run task"
I use the kotlin example project as-is (no changes to the code). If I run the `run` task like this:

[code]
vert.x start and I can see the text `Welcome!` if I navigate to `http://localhost:8080/`.

If I stop the Gradle task by pressing `[Ctrl] + [C]` I get back the prompt but the JVM is not stopped (I verified this by navigating to `http://localhost:8080/` again), and If I try to run vert.x again

[2017-10-17 01:07] napperley commented on #230
Any reason that cmd isn't being used?

On Tue, 17 Oct 2017, 5:09 AM Adam Arold <notifications@github.com> wrote:

[2017-10-17 02:18] csshere opened #235 "Fatjar or vertx command to deploy a Verticle is better?"

[2017-10-17 08:24] adam-arold commented on #230
I fixed this problem in the way I explained before you posted your solution here.

[2017-10-17 12:40] Sammers21 commented on #235
I think that it is better to deploy Verticle from inside your app during app execution, so not using vertx cli

[2017-10-18 07:41] csshere commented on #235
I deploy my app in docker with vertx image，it provoide env for my vertx  Verticle，so I use the vertx container as a standard micro service component，any difference between them？

[2017-10-22 03:51] minosniu opened #243 "mqtt-example 3.5.0 failed to run on CLI in languages other than Java"
I tried to run mqtt-example 3.5.0 after a vanilla checkout, and vanilla installation of vert.x using Homebrew. The example doesn't run on CLI out of the box. After some Q&A on vertx user Google group I believe I've configured things right. But the code gave me the following errors when running in JS/groovy/Kotlin:

`$ vertx run server.js`

meanwhile in another term I opened the client:

`$ vertx r

[2017-10-24 15:47] pwittchen opened #246 "An example with vertx-web and vertx-rx-java2"
Hi,

I'm playing with Vertx. I see it has support for building REST APIs via vertx-web and it has support for RxJava2 via vertx-rx-java2. Can you show me an example of creating REST API with Vertx and RxJava2?

I've created a server with single endpoint `GET /`.

What I've got so far:

[code]

This works fine.

When I tried to Rxify listening of the endpoint like this:

[code]

after calling:

`cu

[2017-10-24 16:13] pwittchen commented on #246
I've figured out something like that:

[code]

but still I don't know how to read request body in that way (In vertx-web I just need to call `router.route().handler(BodyHandler.create());`) and I would prefer to use API provided by the vertx-web for defining endpoints.

[2017-10-29 12:10] developerworks opened #248 "[io.vertx.ext.jdbc.impl.actions.JDBCSQLRowStream] java.sql.SQLException: You can't operate on a closed ResultSet!"
Run this: https://github.com/vert-x3/vertx-examples/blob/master/rxjava-2-examples/src/main/java/io/vertx/example/reactivex/database/jdbc/Streaming.java
**Exception**

[code]

**POM**

[code]

[2017-10-30 05:28] AceLee39 opened #249 "JDBC Blocking Session"
When doing Concurrent to update same record,Why it happened Blocking session?

[2017-10-30 05:29] AceLee39 commented on #249
When doing Concurrent to update same record,Why it happened Blocking session with transaction?

[2017-10-30 06:26] Sammers21 commented on #249
@AceLee39 what do you mean? Can provide an example?

[2017-11-07 10:36] cescoffier commented on #246
Your initial example looks good to me. Any way to reproduce the issue you have seen (I just tried it and it works).

[2017-11-07 11:49] pwittchen commented on #246
Hi,

Thanks for the reply. First example works, because it's pure `vertx-web`. Nevertheless, I tried to combine `vertx-web` with `vertx-rx-java2` and failed.

Here's the code snippet:

[code]

It's hard to reproduce it in the IDE now, due to issues with imported packages and type compatibility. I don't know, when should I take objects from `vertx-web`, `vertx-rx-java2` or `vertx-core` to make it w

[2017-11-07 12:10] pwittchen commented on #246
Ok, I  played with that for a while. Here is the working code:

[code]

**BUT** when we uncomment line with body handler:

[code]

then we get an errors like in the StackTrace i reported above.

My question is:

Is there any valid way or example of using `vertx-web` with `vertx-rx-java2` or pure RxJava2 for processing requests from the clients and sending responses via REST HTTP API?

[2017-11-07 12:29] cescoffier commented on #246
Oh I see. Try:

[code]

Be aware it's pseudo-code.... The `Single.just` is the _gate_ to RX.

[2017-11-07 12:59] pwittchen commented on #246
Ok, now it works fine! Thanks!

Here's full working example:

[code]

I think, it's clear now and we can close this issue. :-)

[2017-11-07 12:59] #246 closed

[2017-11-07 13:38] KingWang93 opened #251 "Repository URL in pom.xml is not available!!!"
the repository URL ，https://oss.sonatype.org/content/repositories/iovertx-3720/  is not available，why？

[2017-11-07 14:40] cescoffier commented on #251
This is a staging repo only used during the release process. Vert.x modules are available from Maven Central, so you should not have any problem.

[2017-11-07 16:10] KingWang93 commented on #251
so how can i get examples-utils.jar?

[2017-11-08 07:20] cescoffier commented on #251
Just follow the instructions:

[code]

[2017-11-09 09:16] AceLee39 commented on #249
DB : postgreSql , maximumPoolSize=80
1. i create a JdbcVerticle consumer("itemUpdate") use JDBCClient to create a connection and start run a update sql like "update item set content = cast(? as jsonb) where itemId=?" in transaction by conn.setAutoCommit(false)
2. create a api send the update json message to address "itemUpdate"
3. running a list with 10 same jsonArray, the jsonArray contains 10 it

[2017-11-13 08:16] #251 closed

[2017-11-28 07:12] liyuntao commented on #228
add the following line to your build.gradle
[code]

Then add the following to your MainClass e.g. MainVerticle
[code]

[2017-12-11 16:44] tsegismont commented on #243
Just downloaded the full distribution on my Linux laptop with `OpenJDK Runtime Environment (build 1.8.0_151-b12)`. After enabling mqtt in the stack file and resolving, the `client.js` and `server.js` work fine. Same with Kotlin.

I tried with `io/vertx/example/mqtt/simple`. Which one did you try?

[2017-12-14 01:12] adziri opened #255 "prometheus metric example throws an exception"
@AlexBischof
I got the following stack trace when trying to call /metrics endpoint in prometheus metric example.
Any idea what's possibly going wrong ?  Thank you.

`Unexpected exception in route
java.lang.ClassCastException: jdk.nashorn.api.scripting.ScriptObjectMirror cannot be cast to io.vertx.ext.web.RoutingContext
	at io.prometheus.client.vertx.MetricsHandler.handle(MetricsHandler.java:22)
	a

[2017-12-14 14:41] amdelamar commented on #235
I prefer fat/executable JAR, simply because I program in Java more than the other languages Vertx. supports. My Dockerfile looks like this:

[code]

[2017-12-14 15:53] tsegismont commented on #235
Closing as we do not use GitHub issues for questions but the Vert.x users Google Group (see http://vertx.io/community)

[2017-12-14 15:53] #235 closed

[2017-12-19 18:25] mslinn opened #257 "Where is the vertx-auth-common-scala example program?"
I see a Scala program for `vertx-auth-common-scala` here: http://vertx.io/docs/vertx-auth-common/scala/
However, the example programs is this repo do not include that code. Where is it?

[2017-12-21 01:35] dorothyorsusie opened #258 "how to deal with fuzzy search"
using io.vertx.ext.mongo.MongoClient,i get a document person:
{
"name":"jack",
"address":"beijing_haidian"
}
now, i wanna search person whose address begin with "beijing",how to  deal with this ?

[2017-12-21 02:58] dorothyorsusie commented on #258
solved!

[2017-12-21 02:58] #258 closed

[2018-01-01 14:58] xurshid29 commented on #234
Same here

[2018-01-03 15:55] tsegismont commented on #234
I could not reproduce on `kotlin-examples/web`. Can you try `./gradlew --no-daemon run`?

Any idea @jponge ?

[2018-01-03 19:41] jponge commented on #234
I cannot reproduce the error either.

That sample is using an older Gradle version (2.13 vs 4.4.1), so you may try updating and check.

As mentioned by @tsegismont `--no-daemon` may fix issues if it happens all the time on your machine.

BTW what is your environment? (OS, JVM)

[2018-01-04 09:18] adam-arold commented on #234
I'll check it today, thanks for looking into this! I'm using Windows 8.1.

[2018-01-11 08:37] vietj commented on #232
@Danilo-Araujo-Silva we do provide polyglot example based on code generation, have you tried it ?

[2018-01-11 10:17] tsegismont commented on #228
@villesau would you mind to put this in a pull-requst?

[2018-01-18 15:27] tsegismont commented on #248
In `FlowableReadStream`, the `FlowableSubscriber#release` implementation does this:

[code]

Then in `JDBCSQLRowStream#handler`, `resume()` is always invoked (even if handler is null or stream already closed). That's why `JDBCSQLRowStream` tries to read rows again and fails with NPE.

A quick (and dirty) fix would be to update `JDBCSQLRowStream#handler` so that `resume` is not invoked when handler

[2018-01-19 09:30] vietj commented on #248
@tsegismont there are not much ReadStream standards

[2018-01-19 09:30] vietj commented on #248
I'm planning in 3.6 to provide a ReadStreamBase class that you can push to and that would provide a more consistent behavior.

[2018-01-19 09:52] tsegismont commented on #248
@vietj ok, does that mean that you think the null check fix is enough for 3.5.1?

[2018-01-19 10:51] vietj commented on #248
I don't know

[2018-01-19 16:04] tsegismont commented on #248
@vietj I'll go ahead and push the simple fix. We can revisit after 3.6

[2018-01-19 17:21] #248 closed

[2018-01-21 22:06] InfoSec812 opened #264 "Would be nice to have an example of using serial composition with Future.compose()"
I have tried the snippets from the Documentation and I cannot get serial composition with Future.compose() to work. A nice example showing a chain of serially composed items would be fantastic.

[2018-01-22 08:47] cescoffier commented on #264
I will add an example. For now, you can check:
https://github.com/cescoffier/introduction-to-vert.x/blob/master/post-4/src/main/java/io/vertx/intro/first/MyFirstVerticle.java#L64-L82

[2018-01-25 06:54] LiJie298 commented on #258
hello ,i have Meet the same problem，can you tell me  how do you soled this?

[2018-01-25 12:00] andrefilipegsilva opened #265 "Vert.x Resteasy Transfer-Encoding issue"
Hello,

I'm currently running the resteasy example provided (the AsyncResult one), and while I'm doing it I'm noticing that a "Transfer-Encoding: chunked" header is always appended to the response. I even tried to inject the HttpServerResponse object to the method and set it as not chunked. Is there any way to force the http response to contain a Content-Length header and not a TE one?

Regards.

[2018-01-30 00:06] MrGarry2016 opened #266 "vertx kafka topic pattern"
when I use vertx Kafka consumer, I want to provide a Kafka topic pattern and the consumer can consume each topic that matches this pattern. This is useful when a new topic is created, it can be found automatically and consumed. Does vertx right now support this?

[2018-02-05 09:22] rainningToSnow commented on #249
I encounter the same problem, is any solution for it?

[2018-02-05 10:08] Sammers21 commented on #249
@rainningToSnow, can you create a reproducer and upload it to GitHub? It would also great to create an issue in related vertx3 repository(i.e. https://github.com/vert-x3/vertx-mysql-postgresql-client ... )?

[2018-02-13 03:21] rdcoe opened #269 "Maven failing to resolve plugins"
Just pulled master and trying to install the dependencies, but the project can't build.

rcoe@SKELETOR ~/git/vertx-examples
$ git pull
Already up to date.

rcoe@SKELETOR ~/git/vertx-examples
$ git branch
* master

rcoe@SKELETOR ~/git/vertx-examples
$ mvn install
[INFO] Scanning for projects...
Downloading from codehaus.org: http://repository.codehaus.org/org/codehaus/groovy/groovy-eclipse-batch/ma

[2018-02-13 08:54] #269 closed

[2018-02-13 08:54] cescoffier commented on #269
Fixed in master. Thanks for reporting.

[2018-03-06 08:34] jorgemoralespou opened #273 "Instructions on README provide a big security flaw"
In the [README for the OpenShift examples](https://github.com/vert-x3/vertx-examples/blob/master/openshift3-examples/README.adoc#create-the-project--namespace), under the section create the project, it says:

[code]

When you execute this line in an environment like OpenShift Online, you're allowing any service account in the cluster to view your project.

As a user, after you've done this command

[2018-03-06 09:52] cescoffier commented on #273
@jorgemoralespou  Hello, these examples are very outdated - that's not the only thing that need to be updated. Typically, to enable the clustering in openshift, we recommend the infinispan cluster manager.

Let me have a look and refresh these examples.

[2018-03-06 16:29] jorgemoralespou commented on #273
@cescoffier Even if the rest of the instructions are outdated, this should be changed, as we've seen people following this instructions in Online and wide opening their projects.

[2018-03-07 13:06] cescoffier commented on #273
@jorgemoralespou Can you look at https://github.com/vert-x3/vertx-examples/pull/275.

[2018-03-07 13:35] #264 closed

[2018-03-12 07:29] cescoffier commented on #273
The new examples have been merged. So this issue is fixed. @jorgemoralespou please re-open if you find a security issue in the new examples.

[2018-03-12 07:29] #273 closed

[2018-03-19 03:16] cvgaviao opened #276 "Can't run junit 5 example project unit test inside Eclipse IDE"
Seams that there are a missing jar in the POM...

[2018-03-19 10:06] jponge commented on #276
Fixed

[2018-03-19 10:06] #276 closed

[2018-03-20 11:08] zhangtianxiao opened #278 "About file uploading"
When uploading files directly into the file-uploads directory, can I intercept it

[2018-03-21 18:25] mavencode01 opened #279 "Vertx CLI API support mutually exclusive options and nested options"
I'm trying to use the Vertx CLI to define a mutually exclusive options in my command line args but seems it can do that right now.
If I have a command that either accept option a or option b but not both i.e
`del -a test` or `del -b true`
but not
`del -a test -b true`    where a and b are different types.
Is there anyway to achieve that now?

Also, the options are expected to just be one level, an

[2018-03-27 03:57] chen462488588 commented on #155
@akshaykolte Thank you !It works for me !

[2018-03-27 22:29] indranilbanerjee2014 opened #281 "How to recover from Connection reset by peer exceptions when using io.vertx.ext.web.client.WebClient"
Hi,
On my development machine, I never saw this issue but when I deployed on our Test environment machine, I am frequently getting this :
[io.vertx.core.net.impl.ConnectionBase : handleException : ConnectionBase.java : 216] - java.io.IOException: Connection reset by peer

Once I get this, the JVM freezes and cannot reach out to the external REST service that I am trying to consume anymore. I have

[2018-03-28 15:48] tsegismont commented on #281
These errors indicate that the server closed the connection with a RST
packet. It should be harmless, the connection should simply be removed from
the pool.

When you say the JVM freezes, do you mean he doesn't do anything anymore or
simply that the WebClient keeps queuing requests without executing them?

[2018-03-29 09:18] MeiyappanKannappa opened #283 "SOAP Service with Vert.x"
Hi, We are trying to create a web application with vert.x. We have a requirement to expose a SOAP service. Is it possible to implement/create/produce a SOAP service in vert.x. There is no documentation for the same. Could any one help on the same.

[2018-03-29 09:37] vietj commented on #283
@phiz71 can elaborate, he's been doing research on the topic recently

[2018-03-29 09:46] MeiyappanKannappa commented on #283
THank you, But is there any inbuilt module in vert.x which can do this, or any third party modules?

[2018-03-29 09:47] vietj commented on #283
not yet, but @phiz71 is investigating this

[2018-03-29 09:48] phiz71 commented on #283
Hi,
actually I started my research on consuming SOAP WS in vert.x. To do this, you can use either Axis2 or CXF. They both allow you to generate an async client that can be embedded in a Verticle.

I think that producing SOAP Services will be a little bit harder.

[2018-03-29 09:49] MeiyappanKannappa commented on #283
@phiz71  Thank you, Can you suggest or guide me where to start. We need a SOAP service to be created in vert.x.

[2018-03-29 09:55] phiz71 commented on #283
For the moment, I think you should use your favorite framework to expose your WSDL and use Vert.x inside your implementation.

[2018-03-29 10:02] MeiyappanKannappa commented on #283
Thanks again, But it would be really helpful if you could share some link. I am relatively new to vert.x.

[2018-03-29 16:42] indranilbanerjee2014 commented on #281
I have resolved this issue.

In my code I was creating a client in the start method of the verticles and then using that client in the method where I was invoking an external API. The first verticle in my program gets triggered by an incoming REST call and then subsequent verticles get invoked by messages on the Event bus. In each of the verticles, I make calls to external APIs. In some verticles

[2018-03-29 16:42] #281 closed

[2018-03-29 17:07] MeiyappanKannappa commented on #283
@phiz71 could you please let me know can we try with vert.x service discovery. If we implement with jax-ws ... can we use the service discovery in vert.x. pls help to understand. Many thanks

[2018-04-02 14:26] phiz71 commented on #283
@MeiyappanKannappa : Maybe you could have a look at https://github.com/vert-x3/vertx-examples/tree/master/spring-examples and https://github.com/vert-x3/vertx-examples/tree/master/spring-examples/springboot-example. It shows how to embed Vert.X into a Spring App.
And since you can easily expose SOAP WS with Spring, IMHO it could be a good starter.

[2018-04-02 14:28] phiz71 commented on #283
I've never tried to implement a custom ServiceDiscovery, so I can't help you, sorry.

[2018-04-20 05:46] wang990099 opened #285 "read wrong data from HttpServerRequest.getFormAttribute. UTF8 will change illegal byte to EFBFBD. help!"
Hi,
    Do you have any comments about read audio binary data from HttpServerRequest object?

try read binary data from HttpServerRequest object, but can't find any method like getReader or others

P.S.
but we read wrong data from HttpServerRequest.getFormAttribute. UTF8 will change illegal byte to EFBFBD.

[2018-04-20 08:03] tsegismont commented on #285
Can you post a reproducer with your observations vs expectations. Thank you

[2018-04-20 08:16] wang990099 commented on #285
@tsegismont
we send audio buffer by http2. Could you give some comments?

send body message:
![image](https://user-images.githubusercontent.com/13163697/39038337-d8d0fac2-44b5-11e8-86b0-8998e0e0055f.png)

receive body string message:
![image](https://user-images.githubusercontent.com/13163697/39038364-ec527472-44b5-11e8-93be-2ef6ec6dde56.png)

[2018-04-25 21:09] jonathon-eastman opened #287 "OracleDriver ReactiveX jdbc simple query not working"
Not sure if this is right place to post.  Based on the example, I created the following method:

[code]

I just changed a couple things.  I changed it to the oracle driver.  I also just made a query (excluded the update statements).   The table I reference is very small.

I run the program but it never gets to the "Subscribe" .  It appears to connect, create a statement, and query.

  It eventuall

[2018-04-26 09:42] tsegismont commented on #287
How many rows do you have in this table? Have you tried with a simple query
like "select 1 from dual" ?

[2018-04-28 05:58] chuntaojun opened #288 "`BookConverter` How is it generated?"
https://github.com/vert-x3/vertx-examples/blob/master/spring-examples/spring-worker-example/src/main/java/io/vertx/example/spring/worker/Book.java

[code]
I didn't find any code.

[2018-04-29 17:16] vietj commented on #288
it is generated using code generation, look at the maven compiler configuration

[2018-04-29 17:16] vietj commented on #288
it has `<annotationProcessor>io.vertx.codegen.CodeGenProcessor</annotationProcessor>`

[2018-04-30 09:01] chuntaojun commented on #288
@vietj ok，thanks

[2018-04-30 13:45] #288 closed

[2018-05-06 06:14] yiming33 opened #289 "vertx-redis-client Pipeline can not be found"
I can't find Redis Pipeline
Does it provide?

[2018-05-06 17:43] pmlopes commented on #289
Redis client **only** works on pipeline mode, as a side effect of being reactive.

[2018-05-06 17:43] #289 closed

[2018-05-06 17:45] pmlopes commented on #289
For reference pipelining in redis means: https://redis.io/topics/pipelining

[2018-05-07 02:08] yiming33 commented on #289
Thank you very much, I read the source code,  vertx-redis default is the pipeline mode.

[2018-05-10 08:34] mohanceg21 commented on #283
@MeiyappanKannappa - Hi Karthik, are you able to create soap service in vertx. I also have a requirement to create a soap service using vertx.

[2018-05-15 09:51] MeiyappanKannappa commented on #283
@mohanceg21 we cannot create SOAP directly in vertx. You need to split and have a converter in front. That is the approach we use.

[2018-05-15 09:59] mohanceg21 commented on #283
@MeiyappanKannappa Thanks for your response. can you pls tell me how you did that?

[2018-05-29 09:06] tsegismont opened #290 "Rework rxified transaction management example"
In 3.6.0, there will be transformers to manage transactions:

https://github.com/vert-x3/vertx-rx/pull/143

[2018-05-29 14:45] tsegismont commented on #199
Please reopen with details if problems persists.

[2018-05-29 14:45] #199 closed

[2018-05-29 14:48] tsegismont commented on #203
Fixed via db6f170967bd0a5066fe6505b38fd12a0a605090

[2018-05-29 14:48] #203 closed

[2018-05-29 14:54] tsegismont commented on #204
I just tried and got the messages as expected. Please reopen if the issue persists.

[2018-05-29 14:54] #204 closed

[2018-05-29 15:00] tsegismont commented on #205
@pmlopes @vietj does that ring a bell? I can't get the NPE either.

[2018-05-29 15:05] #232 closed

[2018-05-29 15:07] tsegismont commented on #249
As advised by @Sammers21 , please create a small reproducer on GitHub with your expectations vs observations.

[2018-05-29 15:07] #249 closed

[2018-05-29 15:13] tsegismont commented on #255
@adziri just tried the `PrometheusMetricsVerticle` example and it works fine. From the stacktrace above I imagine you have tried to adapt this example in with Vert.x js support. In this case, please send details to the user forum, as this is more a question for community than an issue with this example.

[2018-05-29 15:18] tsegismont commented on #266
@MrGarry2016 can you please ask your question on the Vert.x forum or file an issue on the https://github.com/vert-x3/vertx-kafka-client repo? Thanks

[2018-05-29 15:18] #266 closed

[2018-05-29 15:52] tsegismont commented on #278
Please send your question to the user forum, it does not seem related to Vert.x samples. Thanks

[2018-05-29 15:52] #278 closed

[2018-05-29 15:54] tsegismont commented on #287
Please send a question to the user forum with more info if your problem persists.

[2018-05-29 15:54] #287 closed

[2018-05-29 15:55] tsegismont commented on #52
@pmlopes is this still relevant? Should it be moved to another repo?

[2018-05-29 15:57] tsegismont commented on #96
Closing as there's a book about writing microservices with Vert.x https://developers.redhat.com/promotions/building-reactive-microservices-in-java/

[2018-05-29 15:57] #96 closed

[2018-05-29 16:04] #189 closed

[2018-05-29 16:31] tsegismont commented on #225
Works fine for me as well on Fedora and OpenJDK8. Please reopen with more info if issue persists

[2018-05-29 16:44] tsegismont commented on #285
@wang990099 closing as this is not related to vertx-examples. Can you please share a small reproducer on GitHub with your observations vs expectations and send a message to the user forum ? These screen captures are not really helpful.

[2018-05-29 16:44] #285 closed

[2018-05-29 19:27] tsegismont commented on #114
@jponge can you try the example on MacOS then?

[2018-05-29 19:49] jponge commented on #114
Tested with Quasar 0.7.5 and it works very fine.

I get Quasar errors because the agent cannot instrument some methods like a lambda in `io/vertx/core/impl/DeploymentManager$DeploymentImpl` but this is perfectly expected (that method uses `synchronized`).

[2018-05-29 19:49] #114 closed

[2018-05-29 20:59] #195 closed

[2018-05-29 20:59] tsegismont commented on #195
@guoyu511 nice catch!

[2018-05-29 21:31] mhstnsc commented on #114
@jponge  Did you actually run the test and check the results? See my second comment. Quasar is quite evil and the application will misbehave in case of not correctly instrumented.

[2018-05-30 07:10] #279 closed

[2018-05-30 07:14] jponge commented on #114
@mhstnsc If you think that we are missing anything obvious with the behavior of Quasar then we will more than gladly review a pull-request with your investigations and solution.

[2018-05-30 07:53] mhstnsc commented on #114
@jponge I asked a simple question and at least you could answer my question not just throwing the dead cat to me. I did my investigation, i don't know whats the fix, i reported a problem, i gave a way to reproduce. A bug should be closed after the result has been checked. You closed this issue however i wanted to make sure you added those print messages and things worked fine otherwise the test wa

[2018-05-30 08:01] jponge commented on #114
@mhstnsc I am trying to be constructive: I did my checks and for me it works. Now you complain and question if I actually did check anything, so where do we go from here? 🤔

Again, if you have more expertise than we do on this subject then we will happily review any contribution you may have.

[2018-05-30 10:34] mhstnsc commented on #114
IMO there's no need to spend time on quasar. IMO is mostly unusable in its current form in production becuase of the manual annotating. They promised to fix it in subsequent java versions whihc might introduce support in JVM and they lead told me they were talking with Oracle about this. I have no further info so far.

[2018-06-05 01:43] 99937272 opened #292 "would you tell me if the kotlin coroutines can get along with junit test? tks"

[2018-06-05 08:51] tsegismont commented on #292
It should be fine to use togther with Vert.x Unit

[2018-06-05 08:51] #292 closed

[2018-06-10 06:14] adziri commented on #255
@tsegismont   thanks for your answer. The java example is working fine. However, I got the exception above for the javascript's one here: https://github.com/vert-x3/vertx-examples/tree/master/metrics-examples/src/main/js/io/vertx/example/metrics

[2018-06-11 09:39] tsegismont commented on #255
@adziri thanks for the details. Looking into it.

[2018-06-11 12:45] tsegismont commented on #255
@adziri the `PrometheusMetricsVerticle` example has been translated to the various supported languages but not tested unfortunately.

The Javascript version can't work because the Prometheus handler for Vert.x Web is Java only.
You can only register it in Vert.x Web router for JS with this trick:

[code]

Note the `rc._jdel` to unwrap the JS `RoutingContext` into its Java version.

But that's not

[2018-06-11 12:45] #255 closed

[2018-06-12 09:50] tsegismont opened #293 "Remove try-finally from Kotlin SQLConnection examples"
When vert-x3/vertx-sql-common#61is fixed, `try-finally` can be removed in favor of Kotlin's `use` method.

Currently, this is only for `3.6.0-SNAPSHOT` branch.

[2018-06-12 16:33] tsegismont commented on #293
Fixed in 7e0931ac

[2018-06-12 16:33] #293 closed

[2018-06-12 16:52] tsegismont commented on #290
Closed in dc9066772dae8f90c86da8281800f9b37b39504b

[2018-06-12 16:52] #290 closed

[2018-06-25 08:31] slavaatsig opened #295 "Web Client Kotlin Coroutines Example"
I cannot find a way to use Vert.x web client in a coroutines fashion.
Any chance to get such example (if possible) to `kotlin-coroutines-example` module?

[2018-06-25 08:33] tsegismont commented on #295
It would be a nice addition, indeed. Would you mind to contribute it? We can help you with the pull request.

[2018-06-25 08:51] slavaatsig commented on #295
Of course, I will. As soon as I’ll get some free time.

[2018-07-25 13:44] SahilLone commented on #246
I think the issue is still not fixed aas you merely created a `SIngle` inside the handler. THe correct way is to do `request.pause` and then in `subscribe` do `request.resume() ; handlerRequest()`

[2018-08-07 03:39] grubed opened #299 "Is there any demo for apple apns http2?"
Is there any demo or plan for apple apns http2?

[2018-08-07 07:32] tsegismont commented on #299
Try asking on the user forum (see https://vertx.io/community). There are higher chances that you reach out to someone in the community.

[2018-08-07 07:32] #299 closed

[2018-08-21 16:12] redblinkdevs opened #301 "Stuck In Infinite Loop"
Hi , I am saving two objects one after another in mongo db.
But I am Stuck in infinite loop.
When i hit **/signup**

I am getting output

First Save 5b7c398f4b3b0b376f735402
First Save 5b7c398f4b3b0b376f735403
First Save 5b7c398f4b3b0b376f735404
First Save 5b7c398f4b3b0b376f735405

 `	package com.mp3fiber.app;

import java.util.HashMap;
import java.util.HashSet;
import java.util.Map;
import java.u

[2018-09-13 14:14] skylas opened #302 "GetLockWithTimeout Thread blocked"
vertx 3.5.3
[vertx-core / vertx-ignite]

Start multiple nodes（about 3-5） and try to close the nodes of "locked success".
Will appear: Thread blocked!  if it can't reproduce, please try more times to stop "locked success".

Thread Thread[vert.x-internal-blocking-3,5,ignite] has been blocked for 68390 ms, time limit is 60000
io.vertx.core.VertxException: Thread blocked
at sun.misc.Unsafe.park(Native

[2018-09-14 04:00] luhawk803 opened #303 "any example how to share the kafkaproducer.createshare()"

[2018-09-14 11:05] lalitjeevanrao opened #304 "Remove deprecated APIs in service-proxy-examples"
The [service-proxy-examples](/vert-x3/vertx-examples/tree/master/service-proxy-examples) contained deprecated APIs which was misguiding new users trying to use service-proxy.

The use of ProxyHelper class should be replaced by ServiceBinder (for registration) and ServiceProxyBuilder (for Proxy creation).

[2018-09-15 09:47] lalitjeevanrao commented on #304
@vietj Please have a look at issue.

[2018-09-20 17:22] mikeluz opened #306 "Failing to join zookeeper cluster on start"
I tried running MainClassNode1 locally and get the following error:

SEVERE: Failed to join cluster
io.vertx.core.VertxException: org.apache.zookeeper.KeeperException$ConnectionLossException: KeeperErrorCode = ConnectionLoss for /io.vertx
	at io.vertx.spi.cluster.zookeeper.ZookeeperClusterManager.addLocalNodeID(ZookeeperClusterManager.java:266)
	at io.vertx.spi.cluster.zookeeper.ZookeeperClusterMa

[2018-09-20 20:41] tsegismont commented on #302
Can you please file this issue in the `vertx-ignite` repo ? Thank you

[2018-09-20 20:41] #302 closed

[2018-09-21 13:41] #306 closed

[2018-09-28 07:20] skylas commented on #302
If overwriting the nodeListener (new NodeListener (...) causes the nodeListener of the HA Manager to be invalid and fails to clear the node records in the cluster, can the nodeListener add more than one

[2018-09-28 07:48] tsegismont commented on #302
@skylas no you shouldn't replace the node listener

[2018-09-28 07:54] skylas commented on #302
Any method can listen nodeListener  -> leftNode action ? thanks

[2018-09-28 08:32] tsegismont commented on #302
You could register a `MembershipEventListener ` on the `HazelcastInstance`.

[2018-10-01 07:09] lalitjeevanrao commented on #304
Fixed in PR #305

[2018-10-01 07:09] #304 closed

[2018-10-20 08:46] TockaAyman-VG opened #307 "Publish message on eventBus to a single pod in every kubernetes service"
Hello,
I am using vertx event bus to send messages internally between different micro services. The application is deployed on a kubernetes cluster. Each micro service is deployed on N pods.

I want to publish an event from one micro service to all other kuberenetes services so that this event should be served by only one pod from each micro service.

For example: I have
* Micro service A which is

[2018-10-20 11:47] cescoffier commented on #307
Check https://github.com/cescoffier/vertx-openshift-cluster-examples/tree/master/eventbus-example which does what you described.

[2018-10-21 10:34] anylys opened #309 "springboot vertx examples start hava a question"
io.vertx.core.VertxException: Thread blocked
        at java.net.Inet6AddressImpl.lookupAllHostAddr(Native Method) ~[na:1.8.0_181]
        at java.net.InetAddress$2.lookupAllHostAddr(InetAddress.java:928) ~[na:1.8.0_181]
        at java.net.InetAddress.getAddressesFromNameService(InetAddress.java:1323) ~[na:1.8.0_181]
        at java.net.InetAddress.getLocalHost(InetAddress.java:1500) ~[na:1.8.0_1

[2018-10-21 22:42] tsegismont commented on #309
It seems the JVM on your machine takes a lot of time to resolve address with IPv6. Perhaps the name server does not support IPv6 queries. Try adding `-Djava.net.preferIPv4Stack=true` to the JVM before starting.

[2018-10-22 10:40] #309 closed

[2018-10-23 14:15] codem4ster commented on #234
In windows 10 problem still exists. If I run with `--no-daemon` simply cannot quit when hitting ctrl-c. Nothing happens and process continues to run. I'm using kotlin with coroutines.

[2018-10-23 19:01] jponge commented on #234
Hi @codem4ster this is eventually a Gradle issue rather than a Vert.x one, as the process isn't being killed.

How about with Gradle 4.10.2?

Otherwise I'm afraid you need to report it to the Gradle team. They are very friendly and they'll be happy to investigate I'm sure :-)

[2018-10-26 02:25] yigemaser opened #310 "run spring-worker-example error"
2018-10-26 10:15:10.940  INFO 3568 --- [           main] o.hibernate.annotations.common.Version   : HCANN000001: Hibernate Commons Annotations {5.0.1.Final}
2018-10-26 10:15:11.955  INFO 3568 --- [           main] org.hibernate.dialect.Dialect            : HHH000400: Using dialect: org.hibernate.dialect.H2Dialect
2018-10-26 10:15:15.258  INFO 3568 --- [           main] org.hibernate.tool.hbm2ddl.S

[2018-10-26 02:30] yigemaser commented on #310
oh. should run maven install first,

[2018-10-26 02:30] #310 closed

[2018-10-31 05:56] yigemaserwang opened #311 "run springboot-clustering-hazelcast show error Connection refused: localhost/127.0.0.1"
i have two computer ,one  is macos ,other is windows ,so i run springboot-clustering-hazelcast first on macos ,set Integer port=8081; the other run  springboot-clustering-hazelcast  ok;

192.168.1.111]:5701 [dev] [3.6.7]
Members [2] {
	Member [192.168.1.102]:5701
	Member [192.168.1.111]:5701 this
}
2018-10-31 13:40:41.925  INFO 37833 --- [           main] com.hazelcast.core.LifecycleService

when

[2018-11-05 15:38] tsegismont commented on #311
This example was designed for testing on the same machine.

The Vert.x producer bean creates the Vert.x instance manually. So the clustered event bus options are set to default. In particular, default host = localhost.
If you modify `VertxOptions` to use the right host on each machine it should work.

[2018-11-07 18:08] yigemaserwang commented on #311
thanks.
it work。
in springboot file application.properties ,add "host=192.168.1.102".
and in file VertxProducer.java, change to
 @Value("${host:#{null}}")
  String host;
  private Vertx vertx;
  @PostConstruct
  void init() throws ExecutionException, InterruptedException {
    VertxOptions options = new VertxOptions()
      .setClusterManager(new HazelcastClusterManager(hazelcastInstance)).setClus

[2018-11-07 18:08] #311 closed

[2018-12-03 15:21] fwgreen opened #315 "Missing closing quotes throws off syntax highlighting"
Every example under [vertx-examples/web-examples/src/main/java/io/vertx/example/web/templating/](https://github.com/vert-x3/vertx-examples/tree/master/web-examples/src/main/java/io/vertx/example/web/templating) has the same missing closing quotes error in the link in the comment.  This throws off syntax highlighting for the rest of the file.
[code]

[2018-12-05 05:49] Dylancorbus commented on #79
private static MailClient getEmailClient() {
        config.setHostname("smtp.gmail.com");
        config.setPort(465);
        config.setSsl(true);
        config.setLogin(LoginOption.REQUIRED);
        config.setUsername("xxx");
        config.setPassword("xxx");
        config.setAuthMethods("PLAIN");
        mailClient = MailClient.createShared(vert, config);
        eMessage.setFrom("xxx@gmai

[2018-12-05 05:50] Dylancorbus opened #316 "Mail Client Not working"
private static MailClient getEmailClient() {
config.setHostname("smtp.gmail.com");
config.setPort(465);
config.setSsl(true);
config.setLogin(LoginOption.REQUIRED);
config.setUsername("xxx");
config.setPassword("xxx");
config.setAuthMethods("PLAIN");
mailClient = MailClient.createShared(vert, config);
eMessage.setFrom("xxx@gmail.com");
eMessage.setTo("xxx@gmail.com");
eMessage.setSubject("Test emai

[2018-12-05 08:43] tsegismont commented on #316
@Dylancorbus can you post the full stack trace?

[2018-12-05 17:00] Dylancorbus commented on #316
@tsegismont i added config.trustAllSsl or some method like that i forgot. But it works thanks for asking i can post the whole trace
Later

[2018-12-06 09:39] #316 closed

[2018-12-06 09:40] tsegismont commented on #316
Thanks for letting us know @Dylancorbus

[2018-12-07 02:06] Dylancorbus opened #317 "Cant run vetx app while using aws dependency."
C:\Users\Dylan\Desktop\Spotback\spotback-backend-test\UserService\src\main\java\com\spotback\verticles>vertx run HttpVerticle.java
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
C:\Users\Dylan\Desktop\Spotback\spotback-backend-test\UserS

[2018-12-07 02:07] Dylancorbus commented on #317
i cant run my app without commenting out aws objects and methods

[2018-12-07 02:10] Dylancorbus commented on #317
App runs fine with main and from command line if i comment out all aws.

[2018-12-07 03:33] Dylancorbus opened #318 "cant run vertx from main method with https"

[2018-12-07 03:33] Dylancorbus commented on #318
package com.xxx.verticles;

import com.xxx.utils.Runner;
import io.vertx.core.AbstractVerticle;
import io.vertx.core.DeploymentOptions;
import io.vertx.core.Future;
import io.vertx.core.MultiMap;
import io.vertx.core.eventbus.DeliveryOptions;
import io.vertx.core.http.HttpServer;
import io.vertx.core.http.HttpServerOptions;
import io.vertx.core.logging.Logger;
import io.vertx.core.logging.LoggerFa

[2018-12-07 03:40] Dylancorbus commented on #318
dependencies

<dependencies>
    <dependency>
      <groupId>junit</groupId>
      <artifactId>junit</artifactId>
      <version>4.11</version>
      <scope>test</scope>
    </dependency>

    <dependency>
      <groupId>io.vertx</groupId>
      <artifactId>vertx-core</artifactId>
      <version>3.6.0</version>
    </dependency>

    <dependency>
      <groupId>io.vertx</groupId>
      <artifactId

[2018-12-07 06:50] #317 closed

[2018-12-07 06:51] Dylancorbus commented on #317
Figured it out, copied all external dependencies from .m2 and pasted in the vertx3-full/lib/

[2018-12-07 09:44] tsegismont commented on #318
Can you please post to the Vert.x user forum? (see https://vertx.io/community). Don't forget to describe what goes wrong for you precisely, a snippet along with a comment "does not work" is unlikely to catch anybody's attention.

This the Vert.x examples repository. Many community members are not subscribed to it.

[2018-12-07 09:44] #318 closed

[2018-12-09 06:02] More4me commented on #306
@mikeluz do you solved the error ?!

[2018-12-21 07:04] aruis opened #321 "mqtt groovy example get 'will' params bug"
vert.x version: 3.6.2
this code
[code]
in [server.groovy](https://github.com/vert-x3/vertx-examples/blob/master/mqtt-examples/src/main/groovy/io/vertx/example/mqtt/app/server.groovy) cannot execute,  error display:
[code]
I took a closer look, it should be because the type returned by will() in groovy is LinkedHashMap instead of MqttWill because of the existence of MqttEndpoint_GroovyExtension
Thi

[2018-12-21 09:19] tsegismont commented on #321
Good catch, can you provide a fix?

Le ven. 21 déc. 2018 à 08:04, Liu Rui <notifications@github.com> a écrit :

[2018-12-21 09:57] aruis commented on #321
My pleasure .  Then I will try to fix the problem of this groovy code error.

[2019-01-02 10:31] #321 closed

[2019-01-07 06:39] FDU-SE-LAB opened #325 "Your project vert-x3/vertx-examples is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 08:12] #325 closed

[2019-01-16 02:50] jonedaniel commented on #306
hi,how do you solve it?

[2019-01-16 05:37] More4me commented on #306
@jonedaniel  In my case, the problem was in the zookeeper server check it run successfully

[2019-01-16 13:23] lukasjelonek opened #327 "Missing dependency for rxjava-2-examples serviceproxy"
I had problems generating the rx serviceproxy. Fixed it by including the following dependendcy:

[code]

Can you add it to the repository?

[2019-01-21 07:53] lukasjelonek commented on #327
Didn't have time last week and today I saw that @vietj already included it in commit 6ac99c7d91bf7f864b4ac571664ae2b373cd3087

[2019-01-27 04:07] ORESoftware opened #329 "Is it performant to use Spring and executeBlocking?"
re: the spring-example folder

I am wondering if it's performant to use the technique of 2 verticles, one doing blocking I/O with JPA.

specifically, one question I have is - that example has two verticles - the "Server verticle" and the "Spring verticle"...why do we need two verticles? **Why wouldn't it be sufficient to use this Handler method in the Server verticle**:

[code]

[2019-01-27 06:13] ORESoftware opened #330 "Sharing vertx instance?"
I was getting an NPE when referring to a vertx instance in one of the 2 verticles, so I did this:

[code]

whereas the example in the project is like so:

[code]

using the second example, how does the vertx instance get shared? is it basically a global?

[2019-01-27 10:58] vietj commented on #329
can you elaborate more please ?

[2019-01-27 11:01] ORESoftware commented on #329
1. I dunno why we need 2 verticles, why not just 1
2. Is this solution performant or is it kinda iffy?

[2019-01-27 14:57] aesteve commented on #330
No it's not a "global".
Whenever verticle are deployed, the `init` method is called, and sets `vertx` attribute.

https://github.com/eclipse-vertx/vert.x/blob/master/src/main/java/io/vertx/core/AbstractVerticle.java#L66

[2019-01-27 19:57] ORESoftware commented on #330
ok i see, so i guess the fix i have works well enough?

[2019-01-28 00:34] ORESoftware commented on #329
I don't think it's a good solution to use spring code in a separate verticle because serializing the db data and then sending it via the eventBus is not performant TMK.

[2019-01-28 00:35] ORESoftware opened #331 "simple restful api example or websockets example"
I would be really nice to be able to clone a simple project that does RESTful API and a simple project that does websockets, devising the project structure o/w leaves lots of questions, better to have some structure determined already?

[2019-01-28 06:16] ORESoftware opened #332 "router::accept vs router"
I saw some examples of using

[code]
for example, on line 34 here: https://dzone.com/articles/vertx-and-fiber-perfect-synergy

but in this project, it just like so:

https://github.com/vert-x3/vertx-examples/blob/master/web-examples/src/main/java/io/vertx/example/web/rest/SimpleREST.java#L55

[code]

which one should we use?

[2019-01-28 07:39] aesteve commented on #330
I'd have moved the `this.pool = ` within `init`, so that you can leave the constructor without `Vertx` parameter.

[2019-01-28 07:43] aesteve commented on #332
`router::accept` was the hold way of obtaining an `Handler<HttpServerRequest>`.
In latest Vert.x version, `Router` now implements ` Handler<HttpServerRequest>`.

Since `accept` is now deprecated, you should have a deprecation notice using it, no ? Hence answering your question.

[2019-01-28 07:49] aesteve commented on #331
You should only work with a worker verticle if you're dealing with "blocking calls" (i.e. non NIO calls).
Actually, this is really well covered in the [docs](https://vertx.io/docs/vertx-core/java/). Please read the section about the event-loop and verticles.

For instance, if you're using the reactive pg driver, the official redis driver, the official mongodb driver, etc. You don't need any worker

[2019-01-28 08:46] vietj commented on #329
@tsegismont can answer you I think

[2019-01-28 08:51] #332 closed

[2019-01-28 10:13] tsegismont commented on #329
It's perfectly fine to invoke `executeBlocking` from the server verticle.

The purpose of this example is to show how you can encapsulate the backend logic in a worker verticle. This allows to deploy more instance of the backend verticle not only on the same machine, but on other machines too.

[2019-01-28 10:13] #329 closed

[2019-02-17 04:40] rajesh-narravula opened #334 "java.net.UnknownHostException: failed to resolve in Vertx"
I'm facing issue WSS. websocket connection is not establishing.
Full issue description in below link.
https://stackoverflow.com/questions/54726822/java-net-unknownhostexception-failed-to-resolve-in-vertx

[2019-03-01 15:45] HelloCoCooo opened #335 "Dependency conflicts on com.fasterxml.jackson.core:jackson-core:jar, leading to invoking unexpected methods"
Hi, there are multiple versions of **com.fasterxml.jackson.core:jackson-core:jar** in **vertx-examples-3.6.0** (**spring-examples/springboot-example** module). As shown in the following dependency tree, according to Maven's dependency management strategy, only **com.fasterxml.jackson.core:jackson-core:jar:2.4.6** can be loaded, and commons-**com.fasterxml.jackson.core:jackson-core:jar: 2.9.7** wil

[2019-03-01 15:57] HelloCoCooo commented on #335
The code snippet of **<JsonGeneratorImpl.enable(JsonGenerator$Feature)>** in verison 2.9.7 ----
![enable 2 9 7](https://user-images.githubusercontent.com/46306510/53649661-9cc14080-3c7d-11e9-9eab-31ddb442543c.png)

**com.fasterxml.jackson.core:jackson-core:jar:2.4.6** does not contain **<JsonGeneratorImpl.enable(JsonGenerator$Feature)>**.
The code snippet of **GeneratorBase.enable(JsonGenerator$Fe

[2019-03-01 16:02] HelloCoCooo commented on #335
May I pull a request to solve this problem?

[2019-03-01 16:29] HelloCoCooo opened #336 "Invoking unexpected methods, due to dependency conflicts on com.fasterxml.jackson.core:jackson-databind:jar"
An issue similar to #335.

Multiple versions of **com.fasterxml.jackson.core:jackson-databind:jar** in **vertx-examples-3.6.0** (**spring-examples/springboot-example** module). Based on Maven's dependency management strategy, only **com.fasterxml.jackson.core:jackson-databind:jar:2.4.6** can be loaded, and **com.fasterxml.jackson.core:jackson-databind:jar: 2.9.7** will be shadowed.

Method **<com.

[2019-03-01 16:38] HelloCoCooo commented on #336
The code snippet of **StdDateFormat.setLenient(boolean)** in verison 2.9.7 ----
![setlenient 2 9 7](https://user-images.githubusercontent.com/46306510/53652082-fb3ced80-3c82-11e9-927b-d54bab23c831.png)

**com.fasterxml.jackson.core:jackson-core:jar
com.fasterxml.jackson.core:jackson-databind:jar:2.4.6** does not contain **StdDateFormat.setLenient(boolean)**.
The code snippet of **DateFormat.setLen

[2019-03-01 16:39] HelloCoCooo commented on #336
May I pull a request to fix this issue and #335 together?
Thanks for your attention.

[2019-03-02 08:26] vietj commented on #335
yes please

[2019-03-02 08:26] vietj commented on #336
yes please

[2019-03-04 07:44] Swaroop2166 opened #338 "While doing load test by sending 1000request per second from client to server ,the following error has been occured."
java.lang.IllegalStateException: Response has already been written
	at io.vertx.core.http.impl.Http2ServerResponseImpl.checkEnded(Http2ServerResponseImpl.java:477)
	at io.vertx.core.http.impl.Http2ServerResponseImpl.write(Http2ServerResponseImpl.java:434)
	at io.vertx.core.http.impl.Http2ServerResponseImpl.end(Http2ServerResponseImpl.java:394)
	at io.vertx.core.http.impl.Http2ServerResponseImpl.en

[2019-03-04 12:08] pmlopes commented on #338
That can happen when your load test client closes the connection abruptly and your application is still pushing data to the socket. It's a non recoverable error that you can try to mitigate by checking if the socket is still open before writing.

[2019-03-04 12:08] #338 closed

[2019-03-05 13:50] vietj commented on #335
right it is actually a parent ancestor `spring-boot-dependencies` that set this version to 2.4.6

[2019-03-10 14:01] yaniv51 opened #339 "NoClassDefFoundError for Vertx verticle with docker image"
Hi all,
We are using Vertx docker image for our vertx web application server (written in Java) from the example above:
https://github.com/vert-x3/vertx-examples/blob/master/docker-examples/vertx-docker-java/Dockerfile

After adding vertx Thymeleaf template engine, we found that on run time(on production), there is an exception: java.lang.NoClassDefFoundError: org/attoparser/IMarkupParser while try

[2019-03-11 08:57] tsegismont commented on #339
So you're building a jar with dependencies, correct? Then have you checked the [vertx-docker-java-fatjar](https://github.com/vert-x3/vertx-examples/tree/master/docker-examples#vertx-docker-java-fatjar) example?

[2019-03-18 14:36] yeikel opened #341 "Question about numeric addresses"
I am running the metrics examples , and I am having a hard time understanding some of the metrics.

What does it mean when the address is numeric?

[code]

It really makes it difficult to read the stats in Grafana

![image](https://user-images.githubusercontent.com/8935151/54537916-b050f480-4969-11e9-8a80-fb436c4597e3.png)

[2019-03-18 17:46] #341 closed

[2019-03-18 17:47] yeikel commented on #341
This are internal calls in Vertx and this is also the wrong project to report issues.

[2019-04-06 09:52] relucant1 opened #342 "SimpleREST return "Internal Server Error""
![image](https://user-images.githubusercontent.com/11831909/55667831-20310b80-5894-11e9-917a-ca27a930706d.png)
i can run the SimpleREST's main method ,but when i call /products in chrome ,the api return "Internal Server Error" with http code 500 and  show  nothing in my ide console.please tell me some.thanks

[2019-04-06 14:32] tsegismont commented on #342
I can't reproduce. Do you have anything in the server logs?

[2019-04-07 05:46] relucant1 commented on #342
![image](https://user-images.githubusercontent.com/11831909/55679254-dd763e80-593a-11e9-91a1-48a16be08cff.png)

nothing in server logs

[2019-04-07 05:51] relucant1 commented on #342
![image](https://user-images.githubusercontent.com/11831909/55679300-ace2d480-593b-11e9-88d1-ff3961cdebc6.png)
nothing in server logs. i thought the server maybe not receive the request. but the httpcode is 500. it's so strange .

[2019-04-07 05:53] relucant1 commented on #342
nothing in server logs. i thought the server maybe not receive the request. but the httpcode is 500. it's so strange .
![image](https://user-images.githubusercontent.com/11831909/55679343-79ed1080-593c-11e9-8a0f-82a610a71412.png)

[2019-04-10 12:18] tsegismont commented on #342
Weird. Can you add this to the router definition and try again:

[code]

[2019-04-10 18:43] liuandong opened #343 "Why not support kotlin coroutines"
Service proxy why not support kotlin coroutines?
It's simple
https://github.com/liuandong/vertx3-service-proxy-for-kotlin-coroutines

[2019-04-14 08:38] Bootids opened #344 "Can't generate proxyServiceHandler when i use kotlin"
I create a java class named package-info,and write service used kotlin,but after compile there is no proxyServiceHandler generated

[2019-04-14 13:20] #344 closed

[2019-04-29 06:53] MarkThielen opened #347 "How to Contribute to Docker vertx3"
Hi all,

how can I contribute to the vertx Docker image  ? I would like to add the possibility to change the default Launcher class via configuration, for that I would need to change the vertx script, couldn´t find it so far.

Cheers,
Mark

[2019-04-29 08:03] tsegismont commented on #347
@MarkThielen I believe what you're looking for is in the stack repo: https://github.com/vert-x3/vertx-stack/tree/master/stack-docker. Cheers

[2019-04-29 08:03] #347 closed

[2019-04-29 08:31] MarkThielen commented on #347
Thanks for the quick answer !

[2019-05-07 14:13] gingerkirsch opened #349 "Vertx-examples in Scala"
Hello, I currently use vert.x and Scala at work and time to time I have to do workarounds in order to re-use some Vert.x java component in Scala,  i was just thinking would you be interested in collaboration and let me to rewrite examples given here in Scala? Or maybe someone would like to do it together?
For example today I was doing something with GQL example https://github.com/gingerkirsch/vert

[2019-05-08 22:26] garrettcyoung opened #350 "(NO_HANDLERS,-1) No handlers for address ping-address"
I'm trying to get the event bus to work without a clustermanager. I'm using vertx 3.7.0. I thought I'd modify the example core-examples/eventbus/pointtopoint to use the Runner.runExample method instead of the Runner.runClusteredExample. In addition I have both verticle deployed in the same JVM by using a new class that contains a static main(). When using the runExample method I always get this er

[2019-05-09 15:41] tsegismont commented on #350
Cross posted on the forum

[2019-05-09 15:41] #350 closed

[2019-05-23 10:45] aliFetvaci61 commented on #281
@indranilbanerjee2014  Hello I  close the created webClient  and  The same problem at Linux server.
Connection reset by peer

[2019-07-16 12:49] BillyYccc opened #352 "Examples for vertx-sql-client"
which will be integrated into the stack in 3.8.0 release.

[2019-07-18 15:10] BillyYccc commented on #352
@vietj looks like https://github.com/vert-x3/vertx-examples/tree/master/reactive-sql-client-examples/src/main/groovy/io/vertx/example/jdbc is redundant.

[2019-07-18 16:48] vietj commented on #352
right I forgot to delete it

[2019-07-22 12:01] #352 closed

[2019-07-22 12:03] BillyYccc opened #353 "Update the Kotlin movie rating examples with the vertx-mysql-client"

[2019-08-21 12:35] tsegismont opened #354 "GraphQL subscription example"
Add an example for GraphQL subscription over Apollo's `subscriptions-transport-ws`.

[2019-08-21 12:36] tsegismont commented on #354
@rogelio-o could you please take care of this one?

[2019-08-21 12:43] rogelio-o commented on #354
Sure!

[2019-08-21 13:01] tsegismont commented on #354
Thank you. If you want to start before 3.8.1 is released, you can share the
PR with 3.8.1-SNAPSHOT dependency. We'll fix it before merging.

[2019-08-22 22:20] RangaSamudrala opened #356 "Class TransactionConverter is missing"
Hello
The Samples project web-api-service-example is missing class TransactionConverter. See class:
https://github.com/vert-x3/vertx-examples/blob/master/web-api-service-example/src/main/java/io/vertx/examples/webapiservice/models/Transaction.java

[2019-08-27 13:19] cvgaviao opened #357 "Add a new branch for 4.x ?"
Wouldn't be good to have a branch where people could experiment with new stuff coming within 4.x and its best practices?

[2019-08-28 04:24] cocktail18 opened #358 "sync-examples NullPointerException"
I got io.vertx.core.VertxException: java.lang.NullPointerException when i run sync-examples
- branch : master
- java sdk: java: 11.0.3
- log:
[code]

[2019-09-09 12:24] tsegismont commented on #354
Closed in #355

[2019-09-09 12:24] #354 closed

[2019-09-10 01:33] deepbreath opened #359 "How can l use SQLconnection update function to get insert SQL returning id?"
When l use SQLconnection update function ' insert into table ()values() returning id;' .this function return {key:[] ,update:1},how can l get  returnning primary key 'id'

[2019-09-10 08:46] tsegismont commented on #359
Have you tried http://vertx.io/docs/vertx-sql-common/java/#_executing_insert_update_or_delete ?

[2019-09-10 09:19] deepbreath commented on #359
Yes~ l have tried. There is no returning insert primary key 'id', My SQL statement like this 'insert into table (name)values('deepbreath') returning id;'  L am using database is postgres, My Vertx version is 3.6.2

[2019-09-10 09:26] deepbreath commented on #359
![image](https://user-images.githubusercontent.com/15621942/64601724-bfb37680-d3bd-11e9-9f35-04d1b23d0559.png)

[2019-09-10 09:26] deepbreath commented on #359
![image](https://user-images.githubusercontent.com/15621942/64601749-d3f77380-d3bd-11e9-9f1e-4a01a1ed5561.png)

[2019-09-10 19:36] tsegismont commented on #359
Can you add this after the connection is retrieved and before executing update:

[code]

[2019-09-11 01:41] deepbreath commented on #359
Not implemented Exception
![695763df137c51ae1169798efe6eb32](https://user-images.githubusercontent.com/15621942/64661708-08af0d80-d446-11e9-9a52-2f7414743edf.png)

[2019-09-11 01:45] deepbreath commented on #359
l have tried ,Throw Not implemented exception
![image](https://user-images.githubusercontent.com/15621942/64661830-8d019080-d446-11e9-8796-37344aa66f03.png)

[2019-09-11 09:20] tsegismont commented on #359
@deepbreath ok, I see now you were using the _Async MySQL / Postgres Client_. This one is lacking quite a few features and is actually deprecated (will be removed in Vert.x 4). I would suggest to use the new SQL client which is more flexible:

Here's the doc for PostgreSQL: https://vertx.io/docs/vertx-pg-client/java/
And for MySQL: https://vertx.io/docs/vertx-mysql-client/java/

[2019-09-11 09:22] #359 closed

[2019-09-12 01:24] deepbreath commented on #359
Thanks~

[2019-09-20 06:11] JeffSG opened #360 "Failed to visit GraphiQL"
hi team,

I got "Handling failure" with detailed message "io.vertx.core.file.FileSystemException: java.nio.file.NoSuchFileException: io\vertx\ext\web\handler\graphiql\index.html" when I'm trying to visit GraphiQL with vertx-web-graphql 3.8.1.

Handling failure
io.vertx.core.file.FileSystemException: java.nio.file.NoSuchFileException: io\vertx\ext\web\handler\graphiql\index.html
	at io.vertx.core.f

[2019-09-20 08:01] tsegismont commented on #360
@JeffSG there was a build issue with 3.8.1, this will be fixed in 3.8.2.

[2019-09-20 08:10] tsegismont commented on #360
Duplicates vert-x3/vertx-web#1386

[2019-09-20 08:10] #360 closed

[2019-09-29 06:51] MarinZhang opened #361 "PUT interface of SimpleRest return internal error"
I use the test data below to test.
![2019-09-29 14-45-08屏幕截图](https://user-images.githubusercontent.com/15984258/65827911-cac83b00-e2c7-11e9-8ccb-48bd9a5f7186.png)

The server log is :
[code]
From the log, I can tell it's because server doesn't read "body" from client. Weired

[2019-09-30 09:09] tsegismont commented on #361
The examples is implemented to decoded body as JSON but it seems you're sending "form data" with your REST client. Take a look at your clients logs, it most probably isn't sending JSON data.

[2019-09-30 09:09] #361 closed

[2019-10-15 20:38] Mersenne255 opened #363 "Java web-examples: Type conversion error"
Inside 'web-examples' module, there are several instances of:
java: incompatible types: io.vertx.ext.web.Router cannot be converted to io.vertx.ext.web.handler.sockjs.SockJSHandler
E.g: io.vertx.example.web.chat.Server:42

[2019-10-15 21:03] vietj commented on #363
thanks a lot

[2019-10-15 21:03] #363 closed

[2019-11-30 20:47] abelsromero opened #367 "Junit non-REST test example"
I am struggling to test a verticle isolated and all documentation and examples found only show how to test rest endpoints.

Something as simple as this, always fails with timeout

[code]

[2019-12-16 15:39] sanjuthomas opened #368 "Question - Spring Boot Example"
I have looked at the Spring Boot examples and noticed that in the example, we are still using spring boot 1. Have you tested those example with spring boot 2?

[2019-12-16 15:46] tsegismont commented on #368
I don't think so. Would you like to contribute an upgrade to Spring Boot 2?
We can assist you in this process.

[2019-12-16 16:40] sanjuthomas commented on #368
@tsegismont. Sure! I would like to contribute. Let me take a look.

[2019-12-16 22:05] herbertkb opened #369 "Deprecated method in AsyncStart example"
https://github.com/vert-x3/vertx-examples/blob/64d2baebb88c274e18d16fe31ea1ca60c939e250/core-examples/src/main/java/io/vertx/example/core/verticle/asyncstart/OtherVerticle.java#L28

The example for AsyncStart and Stop uses a deprecated method. It would be helpful to have a fresher example with its replacement.

[2019-12-17 04:08] sanjuthomas commented on #368
@tsegismont, I have the changes ready. Could you please share the contributing guidelines?

[2019-12-17 04:29] sanjuthomas opened #370 "Question - Can I access Event Bus outside Verticle?"
Is there a way I can access the Event Bus in a static fashion or otherwise outside a Verticle?

[2019-12-17 09:18] tsegismont commented on #369
Would you mind to contribute the change?

[2019-12-17 09:32] tsegismont commented on #368
Reviewing your PR @sanjuthomas

[2019-12-17 09:34] tsegismont commented on #370
The `EventBus` is tied to a Vert.x instance. If you have one, you can send messages or register consumers from any thread.

[2019-12-17 09:34] #370 closed

[2019-12-17 12:52] onemsg commented on #342
The reson is
`java.lang.NoSuchMethodError: com.fasterxml.jackson.core.JsonGenerator.writeStartObject(Ljava/lang/Object;)V
        at com.fasterxml.jackson.databind.ser.std.MapSerializer.serialize(MapSerializer.java:630)
        at com.fasterxml.jackson.databind.ser.std.MapSerializer.serialize(MapSerializer.java:33)
        at com.fasterxml.jackson.databind.ser.DefaultSerializerProvider._serialize(

[2019-12-17 15:05] #368 closed

[2019-12-18 16:49] sanjuthomas opened #372 "Question - Is there an example of invoking a third party service form a Verticle in a non blocking way?"
Question - Is there an example of invoking a third party service form a Verticle in a non blocking way?

[2019-12-18 17:07] sanjuthomas commented on #372
or for that matter, invoking a method from another class in a non blocking fashion.

[2019-12-19 02:52] #372 closed

[2020-02-28 04:26] Security3rd opened #377 "There are several CVEs in the project dependencies"
Hi, I noticed that your project are using vulnerable libraries which are related to some CVEs. To prevent potential security risks it may cause, I suggest to update the library dependency. See details below:
* **Vulnerable Library Version:** com.h2database : h2 : 1.4.191
  **CVE ID:** [CVE-2018-10054](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-10054), [CVE-2018-14335](https://cve.mitr

[2020-02-28 13:02] #377 closed

[2020-03-02 23:14] nihiluis commented on #369
Same in this example: https://github.com/vert-x3/vertx-examples/blob/master/kotlin-examples/web/build.gradle

baseName and classifier in shadowJar {} are deprecated. The docs don't provide any hint on how to replace it, hence I can't contribute a change right now.

[2020-03-03 14:29] tsegismont commented on #369
@herbertkb I took another look, actually in 3.8.5 there is no other way than using the deprecated method. In 4.0.0, the verticle `start` method will be updated to use `Promise`. We'll update the examples when it is released.

[2020-04-04 17:08] qurbanliwayidin opened #381 "There are five warnings"
**Hello.
I configured my vert.x application as shown in your pom.xml,but i received the same warning for five times. The warning is:**
 warning: Thread Thread[vert.x-eventloop-thread-0,5,com.liwayidin.phc.MainVerticle]=Thread[vert.x-eventloop-thread-0,5,com.liwayidin.phc.MainVerticle] has been blocked for 7771 ms, time limit is 2000 ms
io.vertx.core.VertxException: Thread blocked
        at java.n

[2020-04-06 10:11] Neil-Zhou opened #382 "About the file upload of webClient, how to support ctx.fileuploads ()"
#### Hi，
 I used the webclient of vertx to upload the file by route Api to another remote interface. I saw that the document was multipartform.create () a MultipartForm object, and then adopted the sendMultipartForm function. Please tell me how to use ctx.fileuploads ()
thanks！

[2020-04-08 08:41] hpugjm opened #383 "The launch must depend on a CoroutineScope"
In the latest kotlin-coroutine,to invoke launch must depend on a CoroutineScope;
So the launch can't be invoked in the extend function Route.CoroutineHandler() ;

If always use GlobalScope.launch() to start couroutine,how manage the life-cycle properly?

So I use the flowing method:
![image](https://user-images.githubusercontent.com/35190288/78763208-6e04b600-79b7-11ea-99b9-e2a80ab35c40.png)
![ima

[2020-04-08 08:55] tsegismont commented on #383
Can you please report the issue to the https://github.com/vert-x3/vertx-lang-kotlin repo? Thank you

[2020-04-08 08:55] #383 closed

[2020-04-09 07:10] #381 closed

[2020-04-10 09:39] KeepYoungerMao opened #384 "Add a vertx-auth-common-example project?"
#### Read me
* vertx-auth-common
* vertx-auth-jdbc
* vertx-auth-shiro
* vertx-auth-oauth2
this examples on the official website are too general，Can you provide a complete example？？？
Either one is ok~~~

[2020-05-07 19:05] #265 closed

[2020-05-11 16:46] hakdogan opened #385 "java9 examples not working"
I have been trying to switch to Java 9 module system with Vert.x for a few days. I encountered many problems in this process.  I examined the samples in this repository in this context. I have seen that some of the problems I have encountered before existing in these examples.

I compiled these examples with the command below

[code]

Then I created modular jars for these examples.

[code]

Howeve

[2020-05-11 18:47] hakdogan commented on #385
Okay I found my mistake. The --add-opens parameters should be used as follows

[code]

I apologize for the inconveniences

[2020-05-11 18:47] #385 closed

[2020-05-19 12:15] Gillani0 opened #386 "Vertx Spring boot example should not use PostConstruct"
Hi,

See this example: https://github.com/vert-x3/vertx-examples/blob/master/spring-examples/springboot-example/src/main/java/io/vertx/example/Application.java

It is using  `@PostConstruct` to start a verticle considering Spring Boot has completed initialized. However, this is not a safe option, if a verticle that depends on another bean tries to start (before the whole Spring application is star

[2020-05-19 12:29] tsegismont commented on #386
Thanks for reporting this. Would you mind to send a PR ?

Le mar. 19 mai 2020 à 14:15, Gillani0 <notifications@github.com> a écrit :

[2020-05-20 06:56] Gillani0 commented on #386
Thanks, sure I'll do it.

[2020-05-20 08:26] #386 closed

[2020-05-26 10:44] Banashri commented on #226
Hello, what to set here as cluster host, when I am running in Kubernetes?

[2020-05-27 14:31] tsegismont commented on #226
@Banashri try the value of `HOSTNAME` env variable

[2020-06-03 15:10] tsegismont opened #388 "Remove OSGI examples"
OSGI is no longer supported

[2020-06-03 15:14] tsegismont opened #389 "Remove CloudFoundry example"
Starting with Vert.x 4.0, we want to keep in this repo examples of specific Vert.x features.

The CloudFoundry example will be removed. In the future, it could be replaced by a https://how-to.vertx.io

[2020-06-03 15:15] tsegismont opened #390 "Remove Heroku example"
Starting with Vert.x 4.0, we want to keep in this repo examples of specific Vert.x features.

The Heroku example will be removed. In the future, it could be replaced by a https://how-to.vertx.io

[2020-06-03 15:29] tsegismont opened #391 "Remove superfluous cluster manager examples"
- Keep basic examples based on Hazelcast
- Drop other basic examples for Infinispan, Ignite and Zookeeper
- Turn Kubernetes/Openshift examples into how-tos

The examples with ISPN, Ignite, ZK do not promote any special feature of these CM implementations.

[2020-06-03 16:34] tsegismont commented on #357
A PR has been created. I am currently fixing the example to compile with 4.0.

See #392

[2020-06-03 16:34] #357 closed, assigned to nobody

[2020-06-03 16:35] tsegismont commented on #161
Outdated

[2020-06-03 16:35] #161 closed

[2020-06-03 17:59] jsoneaday opened #393 "An example for manually adding user object to session store"
#### Describe the feature

Get an example that shows how to add an authenticated user object into session store after successful login

#### Use cases

This will allow subsequent routing requests to check for the user object, instead of erroneously asking for authentication again.

#### Contribution

This should be done by team that supports vertx-web, since this is where the session is created

[2020-06-03 18:46] vietj commented on #357
I'm wondering if we should not have a branch master on this repo and instead have 3.x / 4.x branches and default the repo to 3.x and later 4.x

[2020-06-04 09:34] tsegismont commented on #357
Sounds good to me.

Le mer. 3 juin 2020 à 20:46, Julien Viet <notifications@github.com> a
écrit :

[2020-06-04 09:38] tsegismont commented on #393
@pmlopes this issue is related to a question on gitter about performing login with a GraphQL mutation. It seems to me that the requirement is not much different than what we do in https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/FormLoginHandlerImpl.java, am I right?

The user must set-up an `AuthProvider` and then have code similar to `FormLog

[2020-06-04 11:58] pmlopes commented on #393
@tsegismont, @jsoneaday Yes, to some extent yes, but if this is a common practice (auth on a data fetcher), we could have a default implementation on graphql, wdyt?

And of course a default implementation to perform `authz`?

[2020-06-04 12:18] pmlopes commented on #393
Bear with me as I'm not a graphql expert :) if we create a resolver, that we have a custom `VertxDataFetcher` that is created with a `AuthenticationProvider`. This data fetcher could verify the user and set it to the context, and on success delegate to a second one that would really do what the end user wanted.

In pseudo-code, something like:

[code]

So it would perform the needed `authn` task a

[2020-06-04 12:25] pmlopes commented on #393
Maybe we could even drop the chaining to the user `getAllLinks()` as the API is based on `Promise/Future` and we can chain then easily right?

[2020-06-04 12:47] jsoneaday commented on #393
Hello

    What is getAllLinks what does it do? Also once authenticated will this user object be available to any other graphql datafetcher?

How will expiration of the user object happen? The user should expire eventually.
________________________________
From: Paulo Lopes <notifications@github.com>
Sent: Thursday, June 4, 2020 8:18 AM
To: vert-x3/vertx-examples <vertx-examples@noreply.github.com

[2020-06-04 12:48] pmlopes commented on #393
`getAllLinks()` is a fictitious function that is provided by the user, that represents the logic to real fetch data from somewhere

[2020-06-04 13:02] pmlopes commented on #393
The user interface has a `isExpired()` method, that will perform some logic if the provider included a expiration time. so checks can be added. Usually these are implemented in the `AuthenticationProviders` but nothing blocks from being checked again in other places

[2020-06-04 14:26] jsoneaday commented on #393
Thanks @pmlopes . According to Gerard Klijs in this post [https://spectrum.chat/graphql-java/general/i-have-a-login-mutation-if-login-is-successful-i-would-like-to-add-the-user-object-to-the-context-or-environment~75b37761-e50c-4a1e-8890-618dedd96073](url) each graphql call gives a new env and context. Will the user object exist on subsequent calls by other datafetchers?

I am using io.vertx.ext.a

[2020-06-04 14:29] pmlopes commented on #393
@jsoneaday `expired()` is a newly added feature on `milestone5`: https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-common/src/main/java/io/vertx/ext/auth/User.java#L65

Regarding the post, as I wrote, I don't know much about the internals of graphql, I assumed that the environment would be shared for all data fetchers per request

[2020-06-04 15:08] jsoneaday commented on #393
Thanks @pmlopes

Just an fyi when I use m5 I see that setAuthProvider signature for AuthProvider says AuthProvider is deprecated.

`override fun setAuthProvider(authProvider: io.vertx.ext.auth.AuthProvider?) {
    this.authProvider = authProvider
  }`

[2020-06-04 15:38] pmlopes commented on #393
Yes, we decoupled the provider from the user, this allows having a single implementation (not one per provider) plus you can also mix, say for example, authenticate users using a token and authorize using a database.

Before all has locked to the provider. And was a long standing request to be fix from the community.

Sadly as we want to help users to quickly migrate from 3 to 4 lots of stuff is d

[2020-06-04 15:49] tsegismont commented on #388
Closed in c32be917

[2020-06-04 15:49] #388 closed, assigned to tsegismont

[2020-06-04 15:49] tsegismont commented on #389
Closed in 3ad8fae7

[2020-06-04 15:49] #389 closed, assigned to tsegismont

[2020-06-04 15:50] tsegismont commented on #390
Closed in 86a2a9c1

[2020-06-04 15:50] #390 closed, assigned to tsegismont

[2020-06-04 15:50] tsegismont commented on #391
Closed in b70c0388 and 84bbec71

[2020-06-04 15:50] #391 closed, assigned to tsegismont

[2020-06-04 15:50] tsegismont commented on #369
Fixed in a14b7418

[2020-06-04 15:51] #369 closed

[2020-06-04 18:31] jsoneaday commented on #393
@tsegismont I saw your comment in gitter about using the session so I tried it. I think I'm pretty close but the user is not found in the session. Let me show you my code please see if there's anything obviously wrong with it.
`router.route().handler(SessionHandler.create(LocalSessionStore.create(vertx)))
    router.route("/login").handler{ ctx ->
      println("start login user")
      val pgAuth

[2020-06-04 19:58] jsoneaday commented on #393
If we can get this to work. I'll be happy to create a small write-up you can add to your documentation. I'm sure other people will want to use this method.

[2020-06-04 21:30] jsoneaday commented on #393
Interesting when I do this, context?.session()?.data()?.size I get 0. Seems like nothing is making its way into the VertxDataFetcher?

[2020-06-05 08:24] tsegismont commented on #393
@pmlopes I'm not sure we need GraphQL specific code. I think it would be better to have the logic that is present in FormLoginHandler extracted in a helper.

@pmlopes Vert.x Auth has programmatic authorization checks so I think we don't need anything else here.

@jsoneaday I'll work on an example and keep you informed

[2020-06-05 09:53] tsegismont commented on #393
@pmlopes @jsoneaday here's a [demo](https://github.com/tsegismont/graphql-session) of login/logout with graphql mutations and web sessions.

Auth is a provided by `HtpasswdAuth`, initialized in the verticle start method:

[code]
There are two users: `john` (password `john`) and `sarah` (password `sarah`).
Of course this can be adapted to whichever supported auth provider is needed.

In particular,

[2020-06-05 12:15] jsoneaday commented on #393
In my example I use a standard route to login and then try and use that session in my graphql datafetcher, which has an empty session and user object for some reason. In your example you move the login code into the graphql datafetcher. I still don't understand why my code does not work? Is the session object going to graphql somehow different than the one being used in standard routes?

I suppose

[2020-06-05 13:11] tsegismont commented on #393
Can you put your whole sample on GH as well so I can take a look?

Yes my understanding was that you wanted to login with a mutation instead of relying on transport only mechanism.

Yes. It is [recommended by OWASP](https://cheatsheetseries.owasp.org/cheatsheets/Session_Management_Cheat_Sheet.html#renew-the-session-id-after-any-privilege-level-change)

You're welcome. Looking forward to your feedb

[2020-06-05 13:47] jsoneaday commented on #393
Just to clarify I was using a standard route after I saw your comment about sessions on gitter. Yes originally I was wanting to do it from within graphql. So thank you for your sample. I will try it.

[2020-06-05 14:27] jsoneaday commented on #393
Hello It did not work for me.
I've given both of you guys access to my project dzhaven-server. Please note foloowing.
1. I have two calls that attempt to populate the session/setUser: one is a standard route called login inside file HttpVerticle and the other is a dataFetcher called loginDataFetcher inside file DataFetcher.
2. Both calls above seem to work and add the user object into either sessi

[2020-06-07 13:27] jsoneaday commented on #393
Any ideas on what might be wrong?

[2020-06-07 16:09] jsoneaday commented on #393
Seems to me like the context is regenerated per call like I said before.

[2020-06-08 10:13] tsegismont commented on #393
I can't see anything obviously wrong in the code. I noticed though that you don't use the Vert.x Web GraphiQL handler but rather an Apollo plugin for your browser. Perhaps this prevents the session cookie to be handled correctly. Can you inspect the HTTP headers in request and reponse?

[2020-06-08 13:33] jsoneaday commented on #393
This is the getLoggedInUser call
![image](https://user-images.githubusercontent.com/1474935/84035994-9898ce00-a96a-11ea-9434-740c33f26367.png)

This is the login call
![image](https://user-images.githubusercontent.com/1474935/84036391-270d4f80-a96b-11ea-936a-8b1fdbaf24b3.png)

[2020-06-08 15:39] jsoneaday commented on #393
Is there something specifically I should look for? Can I match the cookie to session id? The two cookies do have distinct session id.

[2020-06-08 21:01] tsegismont commented on #393
By default the cookie is named "vertx-web.session"

https://github.com/vert-x3/vertx-web/blob/6cbd41549d1a208b4e5c31d9a7d45d3fa95d8c30/vertx-web/src/main/java/io/vertx/ext/web/handler/SessionHandler.java#L51

Le lun. 8 juin 2020 à 17:39, jsoneaday <notifications@github.com> a écrit :

[2020-06-09 15:47] jsoneaday commented on #393
There's something else going on here. I've just tried by using a react client, which def should work. And the login call does work, but when the getLoggedInUser is called there is nothing in either the user object or the session. I've updated the code if you want to take a look. I think the context is new per call.

[2020-06-09 15:48] jsoneaday commented on #393
Let me know what else I can do to help.

[2020-06-09 16:04] tsegismont commented on #393
@jsoneaday from the screenshots it seems the problem is the session id cookie is not sent back after login. The reason is that the backend is a different domain than the frontend.

This could help you evaluate solutions https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials

[2020-06-09 17:26] jsoneaday commented on #393
According to that link I have to add Access-Control-Allow-Credentials, true to the response. How can I do this with a graphql call?

[2020-06-09 17:34] jsoneaday commented on #393
I just tried it by adding the header and also onto the response, but that did not work. I've committed updated code

[2020-06-09 19:27] tsegismont commented on #393
Not only `Access-Control-Allow-Credentials` must be set, but the `fetch` or `XMLHttpRequest` object must be configured to include credentials.

[2020-06-10 15:49] jsoneaday commented on #393
Still no go. I added the Access-Control-Allow-Credentials true to my response after login. Then I also added the credentials "include" to my client header. GetLoggedInUser still does not have the user object even though login uses setUser to set it. HttpVerticle has a function setupSession, is this properly setting up the session?

![image](https://user-images.githubusercontent.com/1474935/8428910

[2020-06-10 15:54] jsoneaday commented on #393
I've done more research on jwt and it appears that without using sessions jwt is not secure (localstorage and cookies).
So I would like to use sessions if at all possible.

[2020-06-10 19:25] jsoneaday commented on #393
The session cookie is supposed to automatically get generated correct? It is not being generated at all. Is there something else I can do to force it to create a cookie?

[2020-06-10 20:02] jsoneaday commented on #393
I got the cookie to generate but only when I do a fetch call, it does not generate with a graphql call. I'll keep trying.
But even after the cookie is generated with fetch calls the session does not survive between calls.

[2020-06-10 23:52] jsoneaday commented on #393
Ok I got the session to survive between standard route calls, but not between graphql calls. I think the spectrum thread I was on is correct and the routingcontext is recreated on every call unless we use the ExecutionInput. But none of your samples show how to use that [https://spectrum.chat/graphql-java/general/i-have-a-login-mutation-if-login-is-successful-i-would-like-to-add-the-user-object-to

[2020-06-11 09:35] tsegismont commented on #393
The Apollo Client doc tells you how to include cookies for auth: https://www.apollographql.com/docs/react/networking/authentication/#cookie

[2020-06-11 12:51] jsoneaday commented on #393
Yes and I did add the credentials to the apolloclient and the response of access-control-allow-credentials to the graphql call. It does not save across calls. Again it appears to recreate the context per call.

[2020-06-11 13:25] jsoneaday commented on #393
Ok so I think I'm close. Like I said I was able to pass the client side header credentials include, but once I do that I get cors errors like this below (I have cors enabled to my client url). Now the reason this is strange is because in my graphql calls I am sending response header of "Access-Control-Allow-Credentials" true. So this seems to have no effect. Is there some other way of sending head

[2020-06-11 15:20] jsoneaday commented on #393
Just to clarify the same setup works from standard vertx routes using fetch on the client and response headers from server. For some reason it appears that the response header from graphql calls is not getting out.

Access to fetch at 'http://localhost:8888/graphql' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check:

[2020-06-11 17:37] jsoneaday commented on #393
Ok I got it! There is a flag on cors handler called  allowCredentials. This whole time I've been trying to respond with a header, but for whatever reason that is ignored. So you have to set this flag on the cors handler in vertx-web.

I'll be doing a video on this but if you want I can create a small write up so you can add it to your documentation.

[2020-06-11 23:05] jsoneaday commented on #393
I created a. video about how I got this sessions, cors, graphql, vertx, and react all working. https://youtu.be/nsuCuKkBoQE

[2020-06-23 21:29] ooxaam opened #394 "java.lang.IllegalAccessError: when accessing GraphQL API from vertx"
I have a graphlQL client in Hasura (running on docker instance), which I want to access from vertex.

As per given example, following is my code:

[code]

But I'm getting following exception:

[code]

[2020-06-24 09:50] tsegismont commented on #394
Sounds like incompatible versions of Vert.x Web and Vert.x core are on the classpath. Let's continue the conversation on [SO](https://stackoverflow.com/questions/62536987/java-lang-illegalaccesserror-when-accessing-graphql-api-from-vertx)

[2020-06-24 09:50] #394 closed, assigned to nobody

[2020-08-13 10:31] #307 closed

[2020-08-17 03:31] jr981008 opened #396 "where i can find example about cluster like gloable lock map .etc?"
#### Read me

Read this first before creating an issue:

- do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.
- you shall create a feature request only when it is general purpose enough.
- make sure that the feature is not already

#### Describe the feature

Give the simplest and best exp

[2020-08-17 03:32] #396 closed, assigned to nobody

[2020-08-17 03:32] jr981008 opened #397 "where can i find example about cluster like gloable lock map .etc"
#### Read me

Read this first before creating an issue:

- do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.
- you shall create a feature request only when it is general purpose enough.
- make sure that the feature is not already

#### Describe the feature

Give the simplest and best exp

[2020-08-17 03:32] #397 closed, assigned to nobody

[2020-08-17 03:33] jr981008 opened #398 "Shared data examples"

[2020-08-17 09:59] tsegismont commented on #398
We don't have examples for shared data (counters, locks, cluster wide maps) yet. What is the core doc missing? https://vertx.io/docs/vertx-core/java/#_using_the_shareddata_api

[2020-08-17 10:45] jr981008 commented on #398
It was my fault, but I have an idea whether we can add hints on the location of these document in the cluster chapter, which will reduce the cost of learning and make it more intuitive

[2020-08-17 10:52] tsegismont commented on #398
Ok, if you have an idea about improving the reference docs, please let me know, pull requests are welcome.

[2020-08-17 10:52] #398 closed, assigned to nobody

[2020-08-18 17:24] slavaatsig commented on #214
Is it possible to configure Gradle to try it straight from the GitHub?

[2020-09-14 07:49] X-method opened #399 "Add some groovy examples"
The code samples for groovy are very limited. Would be nice to get some more

[2020-09-23 12:18] Bing-ok opened #401 "“NoSuchMethodErrors” due to multiple versions of io.netty:netty-codec:jar"
## Issue description
Hi, there are multiple versions of **_io.netty:netty-codec_** in **_vertx-examples\cassandra-example_**. As shown in the following dependency tree, according to Maven's “nearest wins” strategy, only **_io.netty:netty-codec:4.0.56.Final_** can be loaded, and **_io.netty:netty-codec:4.1.48.Final_** will be shadowed.

However, several methods defined in shadowed version **_io.net

[2020-09-25 13:19] Bing-ok commented on #401
@vietj Could you please help me review this issue? Thank you very much.

[2020-09-28 22:24] vietj commented on #401
@tsegismont ping

[2020-09-29 14:41] tsegismont commented on #401
Looking into it

[2020-09-29 15:49] tsegismont commented on #401
@Bing-ok I fail to reproduce.

I checked out the `3.x` branch and ran the examples in an IDE => OK

Then I installed the CLI (it seems you start the examples from the CLI). As `vertx-cassandra-client` is not included by default, I added this to the stack file:

[code]

Ran `vertx resolve --dir=lib vertx-stack.json` in the CLI root directory to update the stack.

Ran `vertx run src/main/java/io/ver

[2020-10-13 07:14] slinkydeveloper opened #402 "Update vert.x openapi sample to vert.x 4"

[2020-10-13 07:15] slinkydeveloper opened #403 "Update web api service example to vert.x 4"

[2020-10-13 07:18] slinkydeveloper opened #404 "Update vert.x web validation example to vert.x 4"

[2020-11-19 15:19] tsegismont opened #405 "Configure Maven Shade Plugin with ServicesResourceTransformer"
The Maven Shade Plugin is configured with `AppendingTransformer`.

A simpler solution is to use the `ServicesResourceTransformer` which does not require a list of service files (the Gradle Shadow Plugin does this by default.)

In practice, this project work fine with `AppendingTransformer`. But it would be better to provide a more robust config.

[2020-11-19 15:23] tsegismont commented on #405
Closed in 31530f5 and f1c1d7a

[2020-11-19 15:23] #405 closed, assigned to nobody

[2020-11-20 09:32] vietj opened #406 "Fix HTTP server file upload stream example"
It should use the stream operation result to send the response instead of using end handler.

[2020-11-27 15:22] vietj opened #407 "Refresh Java 9 examples"
- name it JPMS instead of Java 9
- use Java 11 LTS
- use automatic module instead of anonymous modules
- use SQL client API instead of JDBC client
- use futures

[2020-11-27 15:22] #407 closed, assigned to vietj

[2020-12-01 10:29] vietj opened #408 "Tracing examples are needed"

[2020-12-01 10:32] jotak commented on #408
@vietj I suggested to add at least this one more example : https://github.com/eclipse-vertx/vertx-tracing/pull/6/files

[2020-12-01 16:42] vietj commented on #408
thanks @jotak do you want to take care of this ?

[2020-12-03 17:54] #402 closed, assigned to slinkydeveloper

[2020-12-03 17:54] #403 closed, assigned to slinkydeveloper

[2020-12-03 17:54] #404 closed, assigned to slinkydeveloper

[2020-12-08 08:32] #406 closed, assigned to nobody

[2021-01-13 16:07] cdennison opened #411 "camel-bridge-examples broken"
### Questions

Camel example appears to be broken for both 3.x and 4.x

### Version

3.x

https://github.com/vert-x3/vertx-examples/commit/31530f59aeda6344392a87968cedaf1960f65e52

4.x

https://github.com/vert-x3/vertx-examples/commit/be4a5ddac93c4a143e4b09386ecc3d1b285e7b44

### Steps to reproduce

3.x

maven clean package

$ java -jar target/ run io.vertx.example.camel.rmi.RMIExample
camel-bridg

[2021-01-29 13:55] Bing-ok commented on #401
I see that the project has upgraded **_io.vertx:vertx-cassandra-client_** from **_3.9.0_** to **_4.0.0_**, , so **_io.netty:netty-codec_** version conflict is resolved. Thanks for your support!

[2021-01-29 13:55] #401 closed, assigned to nobody

[2021-02-07 19:12] spokhyan commented on #356
Hi,

Any update on this?

[2021-02-08 07:58] vietj commented on #356
@slinkydeveloper ping

[2021-02-08 08:55] slinkydeveloper commented on #356
The class should be generated when the code is compiled

[2021-02-21 07:12] qwli7 opened #415 "Can you provide some sample code about templates?"
Can you provide some sample code about templates? Like thymeleaf or freemarker etc.

[2021-02-21 14:34] qwli7 commented on #415
Sorry. I found it. [it's here](https://github.com/vert-x3/vertx-examples/blob/master/web-examples/src/main/java/io/vertx/example/web/templating/thymeleaf/Server.java) 🤣🤣

[2021-02-21 14:34] #415 closed, assigned to nobody

[2021-04-28 02:10] misaka19002 opened #416 "vertx-example proxy bug"
### Questions

https://github.com/vert-x3/vertx-examples/blob/4.x/core-examples/src/main/java/io/vertx/example/core/http/proxy/Proxy.java
serverRequest.pause() was called .  but serverRequest.resume() was not  called.

### Version
vert.x-examples  4.x

[2021-04-28 02:20] #416 closed, assigned to nobody

[2021-05-17 08:39] dasa376 opened #417 "83995377"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

Which version(s) did you encounter this bug ?

### Context

I encountered an exception which looks suspicious while ...

### Do you have a reproducer?

A reproducer is a simple project hosted on GitHub (or ano

[2021-05-17 08:41] tsegismont commented on #417
Can you please fill-in the template? Thank you

[2021-05-17 10:22] #417 closed

[2021-05-17 18:35] dasa376 opened #418 "8399537"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

Which version(s) did you encounter this bug ?

### Context

I encountered an exception which looks suspicious while ...

### Do you have a reproducer?

A reproducer is a simple project hosted on GitHub (or ano

[2021-05-17 18:36] dasa376 opened #419 "8399537"
#### Read me

Read this first before creating an issue:

- do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.
- you shall create a feature request only when it is general purpose enough.
- make sure that the feature is not already

#### Describe the feature

Give the simplest and best exp

[2021-05-17 18:45] dasa376 opened #420 "8399537"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

Which version(s) did you encounter this bug ?

### Context

I encountered an exception which looks suspicious while ...

### Do you have a reproducer?

A reproducer is a simple project hosted on GitHub (or ano

[2021-05-20 04:21] willisjtc opened #421 "Google Firebase Library Prevents Web Routes from Handling Requests"
### Which version(s) did you encounter this bug ?

vertx - 4.0.3

### Do you have a reproducer? yes. Clone this repo: https://github.com/willisjtc/intellij-scala-highlight-error-1 and add this line:

  implementation("com.google.firebase:firebase-admin:7.3.0")

Run GameApp.scala and no routes will be handled. localhost:8888/graphiql/ won't be handled. Remove the firebase dependency and it works ju

[2021-05-20 12:44] jaceding opened #422 "About vertx's springboot starter"
**In fact, vertx is a great project!**

But unfortunately, it doesn't work well with the hottest spring boots, or the combination threshold is high.

I believe many people have doubts. Will vertx consider springboot starter in the future?

[2021-05-20 13:43] #421 closed, assigned to nobody

[2021-05-20 13:43] willisjtc commented on #421
incorrect project

[2021-05-20 14:07] cvgaviao commented on #422
I got curious. Why would you need springboot while using vertx?

[2021-05-21 01:10] jaceding commented on #422
Autoconfig AOC or something

[2021-05-21 01:13] jaceding commented on #422
Where can I find some good vertx tutorials? My friends and I want to learn more about vertx, but we don't know how to start.

[2021-05-21 11:49] cvgaviao commented on #422
https://how-to.vertx.io/

[2021-05-21 12:24] tsegismont commented on #422
Vert.x is a library / toolkit, not a framework. It can be used separately or embedded in an app framework.

You can try Quarkus if you want a container for a Vert.x app, it integrates it really well.
https://quarkus.io/guides/vertx

[2021-05-21 12:53] jaceding commented on #422
thanks

[2021-05-21 12:53] #422 closed, assigned to nobody

[2021-05-21 13:06] jaceding commented on #422
Thanks, Like most people, I choose spring, springboot ...

[2021-05-27 14:22] vietj opened #423 "Upgrade Gradle to latest"

[2021-05-27 14:22] vietj commented on #423
@jponge can you have a look at upgrading to latest Gradle versions ? currently there are issues due to too old version

[code]

[2021-06-01 07:30] #423 closed, assigned to jponge

[2021-06-08 13:49] #52 closed

[2021-06-10 09:49] vietj opened #426 "Study wether to move large examples to how-tos or remove them"
- [ ] Kafka example
- [ ] Metrics example
- [ ] Kotlin coroutines
- [ ] HTTP/2 showcase
- ...

[2021-06-22 08:39] 1416360754 opened #427 "resteasy-vertx example exception"
### Questions

 in https://github.com/vert-x3/vertx-examples/tree/4.x/resteasy-examples/src/main/java/io/vertx/examples/resteasy/helloworld
Serve.java  ，After the start, visit http feedback：
  java.lang.NoSuchMethodError: io.vertx.core.http.HttpServerRequest.rawMethod()Ljava/lang/String;
jdk1.8

`

      <groupId>io.vertx</groupId>
      <artifactId>vertx-core</artifactId>
      <version>4.1.0</ve

[2021-06-22 12:16] tsegismont commented on #427
I think we should remove this example from the `4.x` branch. Users looking for an annotation-driven, reactive REST framework would better give a try to Quarkus.

Fine with you @vietj ?

[2021-06-22 12:35] 1416360754 commented on #427
Use  annotation-driven is wonderful idea，it can let you just focus on the business,with future. - v -

[2021-08-06 12:20] jcarranzan opened #430 "Build fail in the react example belongs to vertx-web module on RHEL8 with FIPS enabled"
### Version

Vert.x version 4.1.2
info from package.json :
 "webpack": "^1.12.2"
 "react": "^0.14.1"
### Context
Currently I was running our tests (based on these vert.x examples) on RHEL 8 with FIPS enabled and we have some builds failures because the webpack build in react example (vertx-web)

### Error Trace :

`16:52:00 [INFO] --- exec-maven-plugin:1.6.0:exec (webpack build in react example) @

[2021-08-09 15:35] jcarranzan commented on #430
Updating the ract dependencies to the latest (17.0.2) and fixing our pom.xml adding the argument  ```npm install --save-dev webpack cli``` solved the issue with our test for vertx-web react example.

[2021-08-09 15:35] #430 closed, assigned to nobody

[2021-08-20 16:36] ikstewa opened #431 "vertx-web oauth2 example fails to start"
### Version

4.1.2

### Context

When attempting to run the [oauth2 example](https://github.com/vert-x3/vertx-examples/blob/master/web-examples/src/main/java/io/vertx/example/web/oauth2/Server.java) the service fails to start.

Fails with the following error:
[code]
### Steps to reproduce

1. Attempt to start the [vertx-web oauth2 example](https://github.com/vert-x3/vertx-examples/blob/master/web-

[2021-08-25 11:42] VolleyballBIA opened #432 "a "Mail Client" question"
After reading the documentation, I found that vert.x (Mail Client) supports sending email , does vert.x support receiving / reading email?

[2021-08-25 12:03] vietj commented on #432
only sending.

[2021-08-25 12:03] #432 closed, assigned to nobody

[2021-09-15 08:56] pmlopes commented on #431
Fixed by: https://github.com/vert-x3/vertx-examples/commit/c8c2dc8da45b30a57ee6b4444612773beffff98d

[2021-09-15 08:56] #431 closed, assigned to nobody

[2021-11-01 18:34] ravindrahv opened #433 "Vertx MailClient 'createShared' is broken as of 3.x (3.9?)."
### Questions

Hello,

It has been observed that the 'createShared' implementation of Vertx is broken - in that the client tends to mix-up (interleave) the SMTP commands - MAIL FROM / RCPT TO / DATA sections (with regard to the RFC) under shared socket scenarios.

### Version

Which version(s) did you encounter this bug ?

3.x (Exact version is not known. Likely its 3.9. However, believe this shou

[2021-11-01 18:41] ravindrahv commented on #433
Have posted the above issue under 'issues' as well - https://github.com/vert-x3/issues/issues/590

[2021-11-01 19:53] ravindrahv commented on #433
Created a new one under vertx-mail-client.
https://github.com/vert-x3/vertx-mail-client/issues/171

[2021-11-01 19:53] #433 closed, assigned to nobody

[2022-01-12 14:14] RebornTong opened #434 "HttpClient request exception when host is a url"
[code]

+ if host is an ip address, sucess, if a url like above ,then fail.
+ exception stack is below :

[code]

[2022-01-12 16:41] vietj commented on #434
it looks like your DNS is configured to use search domains with `.intra.net`

[2022-01-13 02:48] RebornTong commented on #434
then how to configure a right DNS domain ?

[2022-03-29 08:28] TheBlindM opened #435 "Provide examples of using jdk9 and Java Platform Module System"
Provide examples of using jdk9 and Java Platform Module System

[2022-03-29 09:19] TheBlindM opened #436 "I packaged and ran the image through jlink, and the error occurred at startup"
I packaged and ran the image through jlink, and the error occurred at startup

errMsg:
`D:\study\JDKStudyN\jmodsTest\target\image5\bin>java.exe  -m jmodsTest/com.mods.app.App
Mar 29, 2022 4:54:11 PM io.netty.resolver.dns.DefaultDnsServerAddressStreamProvider <clinit>
警告: Default DNS servers: [/8.8.8.8:53, /8.8.4.4:53] (Google Public DNS as a fallback)
Exception in thread "main" java.util.ServiceCo

[2022-03-29 09:19] #435 closed, assigned to nobody

[2022-03-30 02:53] #436 closed, assigned to nobody

[2022-05-17 06:57] xiaojianhx opened #437 "NPE in vertx-redis-client 4.3.0"
There is an exception: Exception in thread "main" java.lang.NullPointerException: Cannot invoke "io.vertx.core.impl.ContextInternal.nettyEventLoop()" because "this.context" is null

jdk version:17
vertx-redis-client version: 4.3.0

[code]

In vertx-redis-client version: 4.2.7, it can run。How to use in 4.3.0？

[2022-05-19 20:46] pmlopes commented on #437
This was fixed on master. To workaround it run the code inside a vert.x context

[2022-05-19 20:46] #437 closed, assigned to nobody

[2022-06-07 13:53] kshitiz-thapa opened #439 "Cleaning Pool for Idle Connection"
I am using a 3.9.8 version of vert.x mail client. My problem is I am getting error because of idle and disconnected connection stored in the pool but not being clear and it's not letting new connection to enter. I see the newer 4.x version has the cleaning feature added which might resolve it but in my case I can't upgrade it to 4.x. So I was thinking of writing a scheduler that cleans the idle co

[2022-06-10 10:59] mattirn commented on #411
IMHO, camel-bridge is broken in `vertx v4.x`. The following does not work

[code]

Executing the method will trace ` INFO  reply.result().body():null` while when running in `vertx v3.x` (replace `vertx.eventBus().request( ... )` with `vertx.eventBus().send( ... )`) it will trace ` INFO  reply.result().body():OK` as expected.

In `vertx v4.x` I'm having `camel v3.x` and `vertx v3.x` `camel v2.x` if

[2022-08-06 11:25] ljwhx2002 opened #440 "how to enable tls1.3 and early data for 0RTT"
I'm using netty-tcnative-boringssl-static with vertx ,  and trying tls1.3, it works well but I don't know how to enable early data. It was 1 RTT for every reconnection. how to enable 0RTT ?

_here is my configuration:_
[code]

[2022-08-07 21:35] vietj commented on #440
can you show how it is enabled in Netty ? I haven't checked myself yet

On Sat, Aug 6, 2022 at 1:25 PM ljwhx2002 ***@***.***> wrote:

[2022-08-08 01:49] ljwhx2002 commented on #440
Seems to not supply in Netty...

[2022-09-03 13:29] sosilent opened #441 "CompositeFuture.join bug"
### Questions

as described in [vertx.io](https://vertx.io/docs/4.1.8/vertx-core/java/#_future_coordination)

1. **The join composition waits until all futures are completed**, either with a success or a failure.

[CompositeFuture.join](https://vertx.io/docs/4.1.8/apidocs/io/vertx/core/CompositeFuture.html#join-io.vertx.core.Future-io.vertx.core.Future-)
 takes several futures arguments (up to 6)

[2022-09-10 15:55] #441 closed, assigned to nobody

[2022-11-18 15:03] linghengqian opened #443 "Remove the adoc description of Groovy verticles from the vertx-core example"
#### Read me

Read this first before creating an issue:

- do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.
- you shall create a feature request only when it is general purpose enough.
- make sure that the feature is not already

#### Describe the feature

Give the simplest and best exp

[2022-11-19 15:55] linghengqian commented on #443
- Due to investigation https://github.com/oracle/graalvm-reachability-metadata/issues/117, https://github.com/netty/netty/issues/11369, https://github.com/eclipse-vertx /vert.x/issues/3960 and https://github.com/apache/shardingsphere/issues/21347 have additional findings, so I'm working on this issue.